$progressBar-height: 5px;
$progressBar-bg-color: #fff;

$page-content-datepicker-max-height: 290px;
$page-content-datepicker-max-width: 307px;

.page-wrap {
  position: relative;
  height: 100%;
  width: 320px;
  min-height: 420px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 auto -40px;
  overflow: auto;
  text-align: center;
  z-index: 1;
  &:after {
    content: "";
    display: block;
  }

  @media (min-width: 1000px) {
    width: 940px;
  }
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: $progressBar-height;
  background-color: $progressBar-bg-color;

  @include transition(width, .15s, ease);

  @media (min-width: 1000px) {
    display: none;
  }
}

.progressBar_0 {
  width: 12.5%;
}

.progressBar_1 {
  width: 25%;
}

.progressBar_2 {
  width: 37.5%;
}

.progressBar_3 {
  width: 50%;
}

.progressBar_4 {
  width: 62.5%;
}

.progressBar_5 {
  width: 75%;
}

.progressBar_6 {
  width: 87.5%;
}

.progressBar_7 {
  width: 100%;
}

.page {
  position: relative;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin: 15px auto 0;
  text-align: center;
  white-space: nowrap;
  font-size: 0;

  @media (min-width: 1000px) {
    margin: 20px auto 0;
  }
}

.page-wrap_hotels-compact {
  .page {
    margin: 0 auto;
  }
}

.content {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 240px;
  overflow: auto;
  white-space: normal;
  font-size: $default-font-size;
  .btn_next {
    margin: 15px 0 0;
  }

  @media (min-width: 1000px) {
    height: 430px;
    width: 800px;
    font-size: $desktop-font-size;

    .btn_next {
      margin: 40px 0 0;
    }
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    height: 345px;
    font-size: $desktop-font-size2;

    .btn_next {
      margin: 30px 0 0;
    }
  }
}

.content_1 {
}

.content_2,
.content_3 {
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

.content_4 {
  @media (min-width: 1000px) {
    padding: 10px 0 0;
  }
}

.content_5 {
  @media (min-width: 1000px) {
    padding: 30px 0 0;
  }
}

.content_7 {
  @media (min-width: 1000px) {
    height: 300px;
    padding: 40px 0 0;
  }
}

.content_8 {
  .btn_reload {
    display: none;
    margin: 20px 0 30px;

    @media (min-width: 1000px) {
      margin: 10px 0 20px;
    }
  }
}

.page-wrap_noHotels {
  .content_8 {
    .btn_reload {
      display: inline-block;
    }
  }
}

.page-wrap_hotels-compact {
  .content_8 {
    overflow: visible;
    height: 310px;

    @media (min-width: 1000px) {
      height: 550px;
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      height: 462px;
    }
  }
}

.page-wrap_hotels-expand {
  .page {
    margin: 0 auto;
  }

  .content_8 {
    height: calc(100vh - 50px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media (min-width: 1000px) {
      height: calc(100vh - 90px);
    }
  }

  .hotel-photo {
    height: auto;
  }
}

.page-header {
  display: none;
  margin: 0;
  padding: 0 0 2%;
  font-size: 1.3em;
  line-height: 1.275em;

  @media (min-width: 1000px) {
    display: block;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    padding: 0 0 1%;
    font-size: 1.15em;
    line-height: 1.175em;
  }
}

.page-subheader {
  display: none;
  margin: 0;
  padding: 5% 0 3%;
  font-size: 1em;
  line-height: 1.346em;

  @media (min-width: 1000px) {
    display: block;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    padding: 4% 0 2%;
  }
}

.page-note {
  display: none;
  font-size: 20px;
  line-height: 1.35em;

  @media (min-width: 1000px) {
    display: inline-block;
    vertical-align: top;
  }
}

.list-cities {
  display: none;

  @media (min-width: 1000px) {
    display: block;
  }
}

.page-location {
  position: relative;
  max-width: 800px;
  background-color: #fff;
  input {
    width: 100%;
    height: 44px;
    text-align: left;
  }

  @media (min-width: 1000px) {
    input {
      height: 55px;
      text-align: center;
    }
  }
}