<div class="boy-area" id="boy">
    <div class="boy-ballon boy-ballon_1" data-role="boy-ballon1">
        <span class="text" data-role="ballon-text1">Куда хотите поехать?</span>
    </div>
    <div class="boy-ballon boy-ballon_2" data-role="boy-ballon2">
        <span class="text" data-role="ballon-text2">Я подберу отели специально для вашего путешествия</span>
    </div>
    <div class="boy">
        <div class="boy-back-wrap">
            <span class="boy-back"></span>
        </div>
        <div class="boy-table"></div>
        <div class="boy-person">
            <div class="boy-icon icon icon_zero"></div>
            <svg class="boy-hand-icon boy-hand-icon_l icon icon_lHand">
                <use xlink:href="#icon_lHand"></use>
            </svg>
            <svg class="boy-hand-icon boy-hand-icon_r icon icon_rHand">
                <use xlink:href="#icon_rHand"></use>
            </svg>
        </div>
        <div class="boy-telephone">
            <svg class="boy-icon icon icon_telephone">
                <use xlink:href="#icon_telephone"></use>
            </svg>
        </div>
        <div class="boy-ringer">
            <svg class="boy-icon icon icon_ringer">
                <use xlink:href="#icon_ringer"></use>
            </svg>
        </div>
    </div>
</div>