<div class='content content_5' id="content5">
    <h2 class="page-header">Как бы вы охарактеризовали <br/>своё путешествие?</h2>
    <ul class="list list_types" data-role="radio-links-group">
        <li class="list-item">
            <a class="list-link" href="#" data-role="radio-link" data-value="1" data-active="0">
                <div class="list-spot list-spot_6"></div>
                <svg class="list-icon icon icon_pictoBusiness">
                    <use xlink:href="#icon_pictoBusiness"></use>
                </svg>
                <span class="list-title">Бизнес-трип</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="radio-link" data-value="2" data-active="0">
                <div class="list-spot list-spot_3"></div>
                <svg class="list-icon icon icon_pictoVacation">
                    <use xlink:href="#icon_pictoVacation"></use>
                </svg>
                <span class="list-title">Отдых и туризм</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
    <!--<a class='btn btn_next' href="#" data-role="type-next-btn">-->
        <!--<span class="text">Следующий шаг</span>-->
        <!--<svg class="icon icon_arrow">-->
            <!--<use xlink:href="#icon_arrow"></use>-->
        <!--</svg>-->
    <!--</a>-->
</div>