<div class='content content_8' id="content8">
    <div class="hotels">
        <div class="boy-palm boy-palm_l"></div>
        <div class="boy-palm boy-palm_r"></div>
        <div data-place="hotels" data-role="hotels"></div>
    </div>

    <div class="ui-loader">
        <span class="ui-loader--bounce1"></span>
        <span class="ui-loader--bounce2"></span>
        <span class="ui-loader--bounce3"></span>
    </div>

    <a class='btn btn_reload' href="#" data-role="reload-btn" data-place="hotels-expanded">
        <svg class="icon icon_reload">
            <use xlink:href="#icon_reload"></use>
        </svg>
        <span class="text">Начать сначала</span>
    </a>
</div>