<div class='content content_1' id="content1">
    <h2 class="page-header">Выберите город, <br/>в который хотите поехать</h2>
    <div class='search-form--item search-form--item_destination page-location' id="destination" hlf-ac="destination">
        <input type="text" class="hlf-input hlf-input--ac page-location" placeholder="Название города"/>
    </div>
    <h3 class="page-subheader">Или выберите один из популярных городов</h3>
    <ul class="list list-cities">
        <li class="list-item">
            <a class="list-link" href="#" data-role="city-popular" data-id="7896" data-text="Лондон, Великобритания">
                <span class="icon icon_city icon_cityLondon"></span>
                <span class="list-title">Лондон</span>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="city-popular" data-id="12153" data-text="Москва, Россия">
                <span class="icon icon_city icon_cityMoscow"></span>
                <span class="list-title">Москва</span>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="city-popular" data-id="15542" data-text="Париж, Франция">
                <span class="icon icon_city icon_cityParis"></span>
                <span class="list-title">Париж</span>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="city-popular" data-id="13559" data-text="Рим, Италия">
                <span class="icon icon_city icon_cityRome"></span>
                <span class="list-title">Рим</span>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="city-popular" data-id="2764" data-text="Стамбул, Турция">
                <span class="icon icon_city icon_cityStambul"></span>
                <span class="list-title">Стамбул</span>
            </a>
        </li>
    </ul>
</div>