<div class='content content_6' id="content6">
    <h2 class="page-header">Что обязательно должно быть в вашем отеле?</h2>
    <span class="page-note">(Можно выбрать несколько вариантов)</span>
    <ul class="list list_amenities">
        <li class="list-item">
            <a class="list-link" href="#" data-role="chbx-link" data-name="Breakfast">
                <div class="list-spot list-spot_1"></div>
                <svg class="list-icon icon icon_amBigBreakfast">
                    <use xlink:href="#icon_amBreakfast"></use>
                </svg>
                <span class="list-title">Завтрак</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="chbx-link" data-name="Business">
                <div class="list-spot list-spot_2"></div>
                <svg class="list-icon icon icon_amBigBusiness">
                    <use xlink:href="#icon_amBusiness"></use>
                </svg>
                <span class="list-title">Бизнес-центр</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="chbx-link" data-name="Gym">
                <div class="list-spot list-spot_3"></div>
                <svg class="list-icon icon icon_amBigGym">
                    <use xlink:href="#icon_amGym"></use>
                </svg>
                <span class="list-title">Качалка</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="chbx-link" data-name="Wi">
                <div class="list-spot list-spot_4"></div>
                <svg class="list-icon icon icon_amBigWi">
                    <use xlink:href="#icon_amWi"></use>
                </svg>
                <span class="list-title">Wi-Fi</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="chbx-link" data-name="Swimming">
                <div class="list-spot list-spot_5"></div>
                <svg class="list-icon icon icon_amBigSwimming">
                    <use xlink:href="#icon_amSwimming"></use>
                </svg>
                <span class="list-title">Бассейн</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
        <li class="list-item">
            <a class="list-link" href="#" data-role="chbx-link" data-name="Spa">
                <div class="list-spot list-spot_2"></div>
                <svg class="list-icon icon icon_amBigSpa">
                    <use xlink:href="#icon_amSpa"></use>
                </svg>
                <span class="list-title">Спа</span>
                <div class="list-check">
                    <svg class="icon icon_check">
                        <use xlink:href="#icon_check"></use>
                    </svg>
                </div>
            </a>
        </li>
    </ul>
    <a class='btn btn_next' href="#" data-role="amenities-next-btn">
        <span class="text">Следующий шаг</span>
        <svg class="icon icon_arrow">
            <use xlink:href="#icon_arrow"></use>
        </svg>
    </a>
</div>