<div class='content content_4' id="content4">
    <h2 class="page-header">Укажите количество путешественников</h2>
    <div class="page-guests" hlf-guests="guests"></div>
    <a class='btn btn_next' href="#" data-role="guests-next-btn">
        <span class="text">Следующий шаг</span>
        <svg class="icon icon_arrow">
            <use xlink:href="#icon_arrow"></use>
        </svg>
    </a>
</div>