<div class='content content_7' id="content7">
    <h2 class="page-header">Сколько вы готовы потратить <br/>на проживание в отеле?</h2>

    <div class="price-range">
        <span class="price-range-legend">Цена за весь период проживания</span>
        <div id="range"></div>
        <span class="price-range-val price-range-val_min" id="range-min"></span>
        <span class="price-range-val price-range-val_max" id="range-max"></span>
    </div>

    <a class='btn btn_next' href="#" data-role="price-next-btn">
        <span class="text">Подобрать отели</span>
        <svg class="icon icon_arrow">
            <use xlink:href="#icon_arrow"></use>
        </svg>
    </a>
</div>