<div class="social--line social" data-role="social">
    <a href="#" onclick="Sharing['v'](window.location.href); return false;">
        <span class="b-share-icon b-share-icon_vkontakte"></span>
    </a>
    <a href="#" onclick="Sharing['f'](window.location.href); return false;">
        <span class="b-share-icon b-share-icon_facebook"></span>
    </a>
    <a href="#" onclick="Sharing['t'](window.location.href); return false;">
        <span class="b-share-icon b-share-icon_twitter"></span>
    </a>
</div>