<svg class="page-icon page-icon_0 rotate_14 pos_4 icon icon_location">
    <use xlink:href="#icon_location"></use>
</svg>
<svg class="page-icon page-icon_0 pos_3 icon icon_location">
    <use xlink:href="#icon_location"></use>
</svg>
<svg class="page-icon page-icon_0 rotate_m14 pos_1 icon icon_location">
    <use xlink:href="#icon_location"></use>
</svg>


<svg class="page-icon page-icon_1 rotate_14 pos_1 icon icon_calendar">
    <use xlink:href="#icon_calendar"></use>
</svg>
<svg class="page-icon page-icon_1 rotate_23 pos_5 icon icon_calendar">
    <use xlink:href="#icon_calendar"></use>
</svg>
<svg class="page-icon page-icon_1 state_1 pos_6 icon icon_calendar">
    <use xlink:href="#icon_calendar"></use>
</svg>


<svg class="page-icon page-icon_2 state_2 pos_1 icon icon_calendar">
    <use xlink:href="#icon_calendar"></use>
</svg>
<svg class="page-icon page-icon_2 state_3 pos_7 icon icon_calendar">
    <use xlink:href="#icon_calendar"></use>
</svg>
<svg class="page-icon page-icon_2 rotate_23 pos_8 icon icon_calendar">
    <use xlink:href="#icon_calendar"></use>
</svg>


<svg class="page-icon page-icon_3 rotate_m23 pos_9 icon icon_bust">
    <use xlink:href="#icon_bust"></use>
</svg>
<svg class="page-icon page-icon_3 state_4 pos_6 icon icon_bust">
    <use xlink:href="#icon_bust"></use>
</svg>
<svg class="page-icon page-icon_3 rotate_23 pos_8 icon icon_bust">
    <use xlink:href="#icon_bust"></use>
</svg>


<svg class="page-icon page-icon_4 state_5 pos_1 icon icon_palm">
    <use xlink:href="#icon_palm"></use>
</svg>
<svg class="page-icon page-icon_4 rotate_10 pos_2 icon icon_ball">
    <use xlink:href="#icon_ball"></use>
</svg>
<svg class="page-icon page-icon_4 state_6 pos_10 icon icon_palm">
    <use xlink:href="#icon_palm"></use>
</svg>


<svg class="page-icon page-icon_5 pos_9 icon icon_wifi">
    <use xlink:href="#icon_wifi"></use>
</svg>
<svg class="page-icon page-icon_5 pos_8 icon icon_pen">
    <use xlink:href="#icon_pen"></use>
</svg>


<svg class="page-icon page-icon_6 state_7 pos_1 icon icon_wallet">
    <use xlink:href="#icon_wallet"></use>
</svg>
<svg class="page-icon page-icon_6 rotate_23 pos_10 icon icon_wallet">
    <use xlink:href="#icon_wallet"></use>
</svg>