<div class="timeline-wrap">
    <ul class="timeline" data-role="time-line">
        <li class="timeline-item timeline-item_active">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-index="tl-where" data-value="0">
                <span class="label">Куда</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <li class="timeline-item">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-name="tl-checkin" data-value="1">
                <span class="label">Заезд</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <li class="timeline-item">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-name="tl-checkout" data-value="2">
                <span class="label">Выезд</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <li class="timeline-item">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-name="tl-guests" data-value="3">
                <span class="label">Сколько гостей</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <li class="timeline-item">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-name="tl-type" data-value="4">
                <span class="label">Тип отеля</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <li class="timeline-item">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-name="tl-amen" data-value="5">
                <span class="label">Услуги в отеле</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <li class="timeline-item">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-name="tl-budget" data-value="6">
                <span class="label">Бюджет</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <li class="timeline-item">
            <a href="#" class="timeline-link" href="#" data-role="timeline-dot" data-name="tl-result" data-value="7">
                <span class="label">Результат</span>
                <span class="text" data-role="tl-text"></span>
            </a>
        </li>
        <!--<li class="timeline-item timeline-item_last">-->
            <!--<a class="timeline-chevron timeline-chevron_l" href="#">-->
                <!--<svg class="timeline-chevron-icon icon_chevron">-->
                    <!--<use xlink:href="#icon_chevronL"></use>-->
                <!--</svg>-->
            <!--</a>-->
            <!--<a class="timeline-chevron timeline-chevron_r" href="#">-->
                <!--<svg class="timeline-chevron-icon icon_chevron">-->
                    <!--<use xlink:href="#icon_chevronR"></use>-->
                <!--</svg>-->
            <!--</a>-->
        <!--</li>-->
    </ul>
</div>