@charset "UTF-8";

@import 'fonts';
@import 'mixins';
@import 'keyframes';

$bg-color-main: #fcfcfc;
$bg-color-sec: #2E3137;

$document-width: 1180px;
$document-padding: 10px;


$default-font-size: 14px;
$default-line-height: 1.214em;
$default-font-weight: 300;
$default-text-color: #fff;

$desktop-font-size: 24px;
$desktop-font-size2: 22px;

$regular-font-family: 'GillSans', sans-serif;
$light-font-family: 'GillSansLight', sans-serif;
$light-italic-font-family: 'GillSansLightItalic', sans-serif;
$bold-font-family: 'GillSansBold', sans-serif;

$default-link-color: #fff;
$default-link-color-hover: #bababa;
$default-link-color-active: #bababa;
$default-link-color-link: #bababa;

$alter-link-color: #F4B442;
$alter-link-color-hover: #FFB228;
$alter-link-color-active: #FFB228;
$alter-link-color-link: #FFB228;

$sec-text-color: #fff;

@import 'layout/base';
@import 'libs-custom/slick';
@import 'libs-custom/nouislider';
@import 'ui/base';
@import 'content/base';
