
@font-face {
  font-family: 'GillSans';
  src: url('../.././fonts/GillSansR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansLight';
  src: url('../.././fonts/GillSansL.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansLightItalic';
  src: url('../.././fonts/GillSansLI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GillSansBold';
  src: url('../.././fonts/GillSansB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
