.font-weight300 {
  font-weight: 300;
}

.text-shadow {
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
}

.text-anti-overflow {
  word-wrap: break-word;
}

.dcase {
  text-transform: lowercase;
}

h1 {
  margin: 0 0 20px;
  font-size: 3.571em;
  line-height: 1.140em;
  @extend .font-weight300;
  @extend .text-anti-overflow;
}

h2 {
  margin: 0 0 20px;
  font-size: 3.571em;
  line-height: 1.140em;
  @extend .font-weight300;
  @extend .text-anti-overflow;
}

h3 {
  margin: 0 0 15px;
  font-size: 3.429em;
  line-height: 1.125em;
  @extend .font-weight300;
  @extend .text-anti-overflow;
  b {
    font-family: $regular-font-family;
  }
}

h4 {
  margin: 0 0 15px;
  font-size: 2.571em;
  line-height: 1.139em;
  @extend .font-weight300;
  @extend .text-anti-overflow;
}

h5 {
  margin: 0 0 25px;
  font-size: 1.929em;
  line-height: 1.370em;
  @extend .font-weight300;
  @extend .text-anti-overflow;
}

.h6 {
  display: block;
  margin: 0 0 25px;
  font-size: 1.714em;
  line-height: 1.167em;
  @extend .font-weight300;
  @extend .text-anti-overflow;
  a {
    color: $sec-text-color;
  }
}

p {
  font-size: 1.429em;
  line-height: 1.5em;
  margin: 15px 0 0;
  @extend .text-anti-overflow;
  &.p-big {
    margin: 15px auto 50px;
    max-width: 660px;
    font-size: 1.929em;
    line-height: 1.370em;
  }
}

a {
  text-decoration: none;
  color: $default-link-color;
  @include transition(color, .15s, ease);
  @extend .text-anti-overflow;
  //&:hover {
  //  color: $default-link-color-hover;
  //}
  //&:active {
  //  color: $default-link-color-active;
  //}
  &:focus {
    outline: none;
  }
}

.link-alterColor {
  color: $alter-link-color;
  &:hover {
    color: $alter-link-color-hover;
  }
  &:active {
    color: $alter-link-color-active;
  }
}