<!-- build:section layout.head --><!-- /build -->
<body class="body_0">
    <div class="wrapper" data-role="wrapper">
        <div class="progressBar progressBar_0" data-role="progressBar"></div>
        <div class="hidden-element">
            <!-- build:section layout.svg_hidden --><!-- /build -->
        </div>
        <div class="page-wrap" data-role="page-wrap">
            <!-- build:section layout.svgs --><!-- /build -->
            <!-- build:section layout.boy --><!-- /build -->
            <div class="page">
                <form action="#" hlf-form="search-form" data-role="form" method="get">
                    <div class='content-slider'>
                        <!-- build:section layout.page1 --><!-- /build -->
                        <!-- build:section layout.page2 --><!-- /build -->
                        <!-- build:section layout.page3 --><!-- /build -->
                        <!-- build:section layout.page4 --><!-- /build -->
                        <!-- build:section layout.page5 --><!-- /build -->
                        <!-- build:section layout.page6 --><!-- /build -->
                        <!-- build:section layout.page7 --><!-- /build -->
                        <!-- build:section layout.page8 --><!-- /build -->
                    </div>
                </form>
            </div>
        </div>
        <!-- build:section layout.timeline --><!-- /build -->
        <!-- build:section layout.scripts --><!-- /build -->
        <!-- build:section layout.tpl_hotel --><!-- /build -->
        <!-- build:section layout.tpl_hotel_desktop --><!-- /build -->
        <div class="overlay" data-role="overlay"></div>
    </div>
    <!-- build:section layout.social --><!-- /build -->
    <div class="popup" data-role="popup">
        <a class='btn btn_fill_orange popup-btn-close' href="#" data-role="popup-close">
            <span class="text">Посмотреть предложение</span>
        </a>
        <a class='btn btn_transparent btn_prev' href="#" data-role="reload-btn" data-place="popup">
            <svg class="icon icon_reload">
                <use xlink:href="#icon_reload"></use>
            </svg>
            <span class="text">Начать сначала</span>
        </a>
    </div>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        !function(t,e,a){(e[a]=e[a]||[]).push(function(){try{e.yaCounter32365305=new Ya.Metrika({id:32365305,webvisor:!0,clickmap:!0,trackLinks:!0,accurateTrackBounce:!0})}catch(t){}});var c=t.getElementsByTagName("script")[0],n=t.createElement("script"),r=function(){c.parentNode.insertBefore(n,c)};n.type="text/javascript",n.async=!0,n.src=("https:"==t.location.protocol?"https:":"http:")+"//mc.yandex.ru/metrika/watch.js","[object Opera]"==e.opera?t.addEventListener("DOMContentLoaded",r,!1):r()}(document,window,"yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="//mc.yandex.ru/watch/32365305" style="position:absolute; left:-9999px;" alt=""/></div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
</body>
</html>