$range-bg-color: #fff;
$range-bg-color2: #73C596;

.noUi-base {
  background-color: $range-bg-color2;
}

.noUi-background {
  background: $range-bg-color2;
  box-shadow: none;
}

.noUi-connect {
  background-color: $range-bg-color;
  box-shadow: none;
}

.noUi-target {
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.noUi-horizontal {
  height: 5px;
  .noUi-handle {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    border-radius: 50%;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
    background-color: #EBC751;
    border: none;
    box-shadow: none;
    z-index: 2;
    @include transition2props(box-shadow, .075s, ease-in-out, background-color, .075s, ease-in-out);
    &:before,
    &:after {
      display: none;
    }

    &.noUi-active {
      width: 28px;
      height: 28px;
      box-shadow: 0 0 0 8px #EBC751;
      background-color: #fff;
    }
  }
}