/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
-ms-user-select: none;
-moz-user-select: none;
-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 28px;
	left: -17px;
	top: -6px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* Styling;
 */
.noUi-background {
	background: #FAFAFA;
	box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
	background: #3FB8AF;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
	transition: background 450ms;
}
.noUi-origin {
	border-radius: 2px;
}
.noUi-target {
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
	cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFF;
	cursor: default;
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #EBEBEB,
				0 3px 6px -3px #BBB;
}
.noUi-active {
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #DDD,
				0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
	cursor: not-allowed;
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

@font-face{font-family:'GillSans';src:url("../.././fonts/GillSansR.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'GillSansLight';src:url("../.././fonts/GillSansL.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'GillSansLightItalic';src:url("../.././fonts/GillSansLI.woff") format("woff");font-weight:normal;font-style:normal}@font-face{font-family:'GillSansBold';src:url("../.././fonts/GillSansB.woff") format("woff");font-weight:normal;font-style:normal}@-webkit-keyframes move{0%{background-position:0 0}100%{background-position:50px 50px}}@keyframes move{0%{background-position:0 0}100%{background-position:50px 50px}}html,body{height:100%;min-height:420px;font-size:14px}@media (min-width: 1000px){html,body{font-size:24px}}@media (min-width: 1000px) and (max-height: 700px){html,body{font-size:22px}}body{position:relative;width:100%;background:#fcfcfc;font-family:"GillSans",sans-serif;line-height:1.214em;font-weight:300;color:#fff;-webkit-font-smoothing:antialiased}.wrapper{position:relative;height:100%}.wrapper.blured{-webkit-filter:blur(3px);filter:blur(3px)}.ovflow-hidden{overflow:hidden}ul,ol{margin:0;padding:0;list-style-type:none}img{vertical-align:top}input{box-sizing:border-box;display:inline-block;vertical-align:middle;padding:0 10px;margin:0;line-height:1em;border:none;box-shadow:none;-webkit-backface-visibility:hidden;color:#000}input::-webkit-input-placeholder{font-family:"GillSansLightItalic",sans-serif;font-size:1em;line-height:1.2em;color:#787878}input:-moz-placeholder{font-family:"GillSansLightItalic",sans-serif;font-size:1em;line-height:1.2em;color:#787878}input::-moz-placeholder{font-family:"GillSansLightItalic",sans-serif}input:-ms-input-placeholder{font-family:"GillSansLightItalic",sans-serif;font-size:1em;line-height:1.2em;color:#787878}input:focus{outline:none}input:-webkit-autofill{color:transparent !important;-webkit-box-shadow:0 0 0 1000px white inset}.sbmtBtn{position:relative;display:inline-block;vertical-align:middle;width:74px;height:52px;padding:0;margin:0;box-shadow:none;border:none;-webkit-backface-visibility:hidden;background-color:#F4B442;border-radius:40px}.sbmtBtn .icon_arrow{position:absolute;top:50%;left:50%;z-index:1;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);transition:-webkit-transform 0.15s ease;transition:transform 0.15s ease}.sbmtBtn:hover .icon_arrow{-ms-transform:translate(-35%, -50%);transform:translate(-35%, -50%);-webkit-transform:translate(-35%, -50%)}.sbmtBtn:focus{outline:none}.sbmtBtn .sbmtBtn-icon_loader{display:none;position:absolute;top:50%;left:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%)}.sbmtBtn .sbmtBtn-icon_ok{display:none}img[src^='//googleads.g.doubleclick.net'],img[src^='http://vk.com/rtrg'],img[src^='//vk.com/rtrg']{position:absolute;top:0}.hidden-element{display:none}body,.boy-ballon,.timeline-wrap,.list-spot{transition:none}@media (min-width: 1000px){body,.boy-ballon,.timeline-wrap,.list-spot{transition:background-color 0.1s ease}}.boy-ballon:before{transition:none}@media (min-width: 1000px){.boy-ballon:before{transition:box-shadow 0.1s ease}}.body_0{background-color:#64AE11}.body_0 .boy-ballon{background-color:#73C418}.body_0 .timeline-wrap{background-color:#73C418}.body_0 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #73C418}@media (min-width: 1000px){.body_0 .timeline-link{background-color:#73C418;border-color:#64AE11}.body_0 .timeline-item_active{color:#73C418}.body_0 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #73C418}.body_0 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #73C418}}.body_1{background-color:#51A0D5}.body_1 .boy-ballon,.body_1 .timeline-wrap{background-color:#59AFE9}.body_1 .timeline-wrap{box-shadow:0 -5px 40px 25px #51A0D5}.body_1 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #59AFE9}@media (min-width: 1000px){.body_1 .timeline-wrap{box-shadow:0 -5px 70px 50px #51A0D5}.body_1 .timeline-link{background-color:#59AFE9;border-color:#51A0D5}.body_1 .timeline-item_active{color:#59AFE9}.body_1 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #59AFE9}.body_1 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #59AFE9}}.body_1 .page-datepicker_in .ui-datepicker-calendar td a,.body_1 .page-datepicker_in .ui-datepicker-calendar td span{background-color:#59AFE9;transition:none}@media (min-width: 1000px){.body_1 .page-datepicker_in .ui-datepicker-calendar td a,.body_1 .page-datepicker_in .ui-datepicker-calendar td span{transition:background-color 0.1s ease}}.body_1 .page-datepicker_in .ui-datepicker-calendar td .ui-state-active{background-color:#fff}.body_2{background-color:#3FB7C4}.body_2 .boy-ballon,.body_2 .timeline-wrap{background-color:#4BC8D5}.body_2 .timeline-wrap{box-shadow:0 -5px 40px 25px #3FB7C4}.body_2 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #4BC8D5}@media (min-width: 1000px){.body_2 .timeline-wrap{box-shadow:0 -5px 70px 50px #3FB7C4}.body_2 .timeline-link{background-color:#4BC8D5;border-color:#3FB7C4}.body_2 .timeline-item_active{color:#4BC8D5}.body_2 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #4BC8D5}.body_2 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #4BC8D5}}.body_2 .page-datepicker_out .ui-datepicker-calendar td a,.body_2 .page-datepicker_out .ui-datepicker-calendar td span{background-color:#4BC8D5;transition:none}@media (min-width: 1000px){.body_2 .page-datepicker_out .ui-datepicker-calendar td a,.body_2 .page-datepicker_out .ui-datepicker-calendar td span{transition:background-color 0.1s ease}}.body_2 .page-datepicker_out .ui-datepicker-calendar td .ui-state-active{background-color:#fff}.body_3{background-color:#16A085}.body_3 .boy-ballon,.body_3 .timeline-wrap{background-color:#1AB698}.body_3 .timeline-wrap{box-shadow:0 -5px 40px 25px #16A085}.body_3 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #1AB698}@media (min-width: 1000px){.body_3 .timeline-wrap{box-shadow:none}.body_3 .timeline-link{background-color:#1AB698;border-color:#16A085}.body_3 .timeline-item_active{color:#1AB698}.body_3 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #1AB698}.body_3 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #1AB698}}.body_3 .page-guests .hlf-control{background-color:#1AB698}.body_4{background-color:#D8A499}.body_4 .boy-ballon,.body_4 .timeline-wrap,.body_4 .list-spot{background-color:#DFACA1}.body_4 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #DFACA1}@media (min-width: 1000px){.body_4 .timeline-link{background-color:#DFACA1;border-color:#D8A499}.body_4 .timeline-item_active{color:#DFACA1}.body_4 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #DFACA1}.body_4 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #DFACA1}}.body_4 .list-check{color:#D09C91;border:3px solid #D09C91}.body_5{background-color:#E25764}.body_5 .boy-ballon,.body_5 .timeline-wrap,.body_5 .list-spot{background-color:#FB6674}.body_5 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #FB6674}@media (min-width: 1000px){.body_5 .timeline-link{background-color:#FB6674;border-color:#E25764}.body_5 .timeline-item_active{color:#FB6674}.body_5 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #FB6674}.body_5 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #FB6674}}.body_5 .list-check{color:#EF6373;border:3px solid #EF6373}.body_6{background-color:#27AE60}.body_6 .boy-ballon,.body_6 .timeline-wrap{background-color:#56C570}.body_6 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #56C570}@media (min-width: 1000px){.body_6 .timeline-link{background-color:#56C570;border-color:#27AE60}.body_6 .timeline-item_active{color:#56C570}.body_6 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #56C570}.body_6 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #56C570}}.body_7{background-color:#15A57A}.body_7 .boy-ballon,.body_7 .timeline-wrap{background-color:#17BB8A}.body_7 .timeline-wrap{box-shadow:0 -5px 30px 10px #15A57A}.body_7 .boy-ballon:before{box-shadow:-13px -6px 0px 1px #17BB8A}@media (min-width: 1000px){.body_7 .timeline-wrap{box-shadow:0 -5px 50px 20px #15A57A}.body_7 .timeline-link{background-color:#17BB8A;border-color:#15A57A}.body_7 .timeline-item_active{color:#17BB8A}.body_7 .boy-ballon_1:before{box-shadow:-22px 6px 0 0 #17BB8A}.body_7 .boy-ballon_2:before{box-shadow:22px 6px 0 0 #17BB8A}}@media (min-width: 1000px){.timeline-wrap{background-color:transparent !important}}.list{list-style:none;margin:0;padding:0;font-size:0}.list-item{position:relative;display:inline-block;vertical-align:top;width:100px;height:100px;padding:0;border-radius:50%}.list-item:first-child{margin:0}.list-link{position:relative;display:block;height:100%;width:100%}.list-icon{display:block}.list-title{display:block;margin:10px 0 0;font-size:14px;line-height:1em}.list-spot{position:absolute;left:50%;top:50%;border-radius:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);z-index:0}.list-spot_1{width:64px;height:58px;-ms-transform:translate(-50%, -50%) rotate(-12deg);transform:translate(-50%, -50%) rotate(-12deg);-webkit-transform:translate(-50%, -50%) rotate(-12deg)}@media (min-width: 1000px){.list-spot_1{width:100px;height:94px}}@media (min-width: 1000px) and (max-height: 700px){.list-spot_1{width:85px;height:80px}}.list-spot_2{width:66px;height:57px;-ms-transform:translate(-50%, -50%) rotate(2deg);transform:translate(-50%, -50%) rotate(2deg);-webkit-transform:translate(-50%, -50%) rotate(2deg)}@media (min-width: 1000px){.list-spot_2{width:102px;height:88px}}@media (min-width: 1000px) and (max-height: 700px){.list-spot_2{width:87px;height:75px}}.list-spot_3{width:65px;height:58px;-ms-transform:translate(-50%, -50%) rotate(-9deg);transform:translate(-50%, -50%) rotate(-9deg);-webkit-transform:translate(-50%, -50%) rotate(-9deg)}@media (min-width: 1000px){.list-spot_3{width:102px;height:87px}}@media (min-width: 1000px) and (max-height: 700px){.list-spot_3{width:87px;height:73px}}.list-spot_4{width:57px;height:62px;-ms-transform:translate(-50%, -50%) rotate(-3deg);transform:translate(-50%, -50%) rotate(-3deg);-webkit-transform:translate(-50%, -50%) rotate(-3deg)}@media (min-width: 1000px){.list-spot_4{width:85px;height:92px}}@media (min-width: 1000px) and (max-height: 700px){.list-spot_4{width:70px;height:76px}}.list-spot_5{width:66px;height:61px;-ms-transform:translate(-50%, -50%) rotate(-14deg);transform:translate(-50%, -50%) rotate(-14deg);-webkit-transform:translate(-50%, -50%) rotate(-14deg)}@media (min-width: 1000px){.list-spot_5{width:100px;height:92px}}@media (min-width: 1000px) and (max-height: 700px){.list-spot_5{width:85px;height:78px}}.list-spot_6{width:66px;height:61px;-ms-transform:translate(-50%, -50%) rotate(12deg);transform:translate(-50%, -50%) rotate(12deg);-webkit-transform:translate(-50%, -50%) rotate(12deg)}@media (min-width: 1000px){.list-spot_6{width:101px;height:92px}}@media (min-width: 1000px) and (max-height: 700px){.list-spot_6{width:72px;height:62px}}.list-check{opacity:0;position:absolute;top:0;right:-5px;width:22px;height:22px;line-height:22px;background-color:#fff;border-radius:50%;border:2px solid #EF6373;z-index:1;-ms-transform:translate(0, 0);transform:translate(0, 0);-webkit-transform:translate(0, 0);transition:opacity 0.1s ease,border 0.1s ease}.list-check .icon{width:12px;height:9px;vertical-align:middle}.list-link.active .list-check{opacity:1}.list_types{padding:30px 0 0}.list_types .list-item{margin:0 0 0 60px}.list_types .list-item:first-child{margin:0}.list_types .list-check{width:27px;height:27px;line-height:27px}.list_types .list-check .icon{width:15px;height:12px;vertical-align:middle}.list_types .list-spot_6{width:121px;height:97px}.list_types .list-spot_3{width:103px;height:100px}.list_types .list-icon{position:absolute;left:50%;bottom:42px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);z-index:1}.list_types .list-title{position:absolute;left:50%;bottom:15px;margin:0;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);white-space:nowrap;z-index:1}@media (min-width: 1000px){.list_types{padding:50px 0 30px}.list_types .list-item{width:120px;height:120px;margin:0 0 0 140px}.list_types .list-item:first-child{margin:0}.list_types .list-spot_6{width:140px;height:123px}.list_types .list-spot_3{width:140px;height:136px}.list_types .list-title{font-size:24px;bottom:0}.list_types .list-check{width:32px;height:32px;line-height:32px}.list_types .list-check .icon{width:20px;height:18px}}.list_amenities{padding:30px 0 0;margin:0 0 -15px -40px}.list_amenities .list-item{width:64px;height:64px;margin:0 0 15px 40px}.list_amenities .list-icon{position:absolute;left:50%;bottom:23px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);color:#fff;fill:#fff}.list_amenities .list-title{position:absolute;left:50%;bottom:4px;margin:0;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);white-space:nowrap}@media (min-width: 1000px){.list_amenities{margin:0 auto -20px auto;padding:25px 0 0;max-width:420px}.list_amenities .list-item{width:100px;height:100px;margin:0 20px 20px}.list_amenities .list-title{bottom:8px;font-size:23px}.list_amenities .list-icon{bottom:42px}.list_amenities .list-check{width:30px;height:30px;line-height:30px}.list_amenities .list-check .icon{width:18px;height:13px}}@media (min-width: 1000px) and (max-height: 700px){.list_amenities{padding:10px 0 0}.list_amenities .list-item{margin:0 20px}.list_amenities .list-title{bottom:10px;font-size:21px}.list_amenities .list-check{top:5px;right:5px;width:25px;height:25px;line-height:25px}}.list-cities .list-item{width:20%;height:auto}.boy-area{position:relative;max-height:100%;padding:15px 0 0;text-align:center}.boy{position:relative;width:250px;height:8px;padding:115px 0 0;margin:0 auto}@media (min-width: 1000px){.boy{width:400px;height:11px;padding:140px 0 0}}@media (min-width: 1000px) and (max-height: 700px){.boy{width:390px;padding:130px 0 0}}.boy-table{position:relative;height:100%;margin:0 auto;border-radius:10px;background-color:#fff}.boy-back-wrap{overflow:hidden;height:84px;width:155px;position:absolute;bottom:0;left:50%;margin:0 0 2px -77px;z-index:0}@media (min-width: 1000px){.boy-back-wrap{height:120px;width:250px;margin:0 0 2px -125px}}@media (min-width: 1000px) and (max-height: 700px){.boy-back-wrap{height:110px;width:224px;margin:0 0 2px -112px}}.boy-back{display:block;width:155px;height:155px;background-color:rgba(0,0,0,0.1);border-radius:50%}@media (min-width: 1000px){.boy-back{height:250px;width:250px}}@media (min-width: 1000px) and (max-height: 700px){.boy-back{height:224px;width:224px}}.boy-person{position:absolute;width:93px;height:101px;bottom:-2px;left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%);-webkit-transform:translateX(-50%)}.boy-person .boy-hand-icon{display:none;position:absolute;top:0}.boy-person .boy-hand-icon_l{left:-20px;top:5px}@media (min-width: 1000px){.boy-person .boy-hand-icon_l{left:-28px;top:60px}}@media (min-width: 1000px) and (max-height: 700px){.boy-person .boy-hand-icon_l{left:-25px;top:57px}}.boy-person .boy-hand-icon_r{right:-20px;top:5px}@media (min-width: 1000px){.boy-person .boy-hand-icon_r{right:-28px;top:60px}}@media (min-width: 1000px) and (max-height: 700px){.boy-person .boy-hand-icon_r{right:-25px;top:57px}}@media (min-width: 1000px){.boy-person{width:145px;height:156px;bottom:-5px}}@media (min-width: 1000px) and (max-height: 700px){.boy-person{width:128px;height:138px;bottom:-3px}}.boy-telephone{position:absolute;width:40px;height:29px;left:5px;bottom:0;margin:0 0 8px}@media (min-width: 1000px){.boy-telephone{width:54px;height:42px;margin:0 0 11px}}.boy-ringer{position:absolute;width:27px;height:17px;right:20px;bottom:0;margin:0 0 8px}@media (min-width: 1000px){.boy-ringer{width:34px;height:23px;margin:0 0 11px}}.boy-icon{position:relative}.boy-ballon{position:relative;width:86%;height:45px;line-height:45px;margin:0 auto;box-sizing:border-box;padding:0;border-radius:60px}.boy-ballon .text{position:relative;display:inline-block;vertical-align:middle;padding:0 15px;line-height:17px}.boy-ballon:before{content:'';position:absolute;width:40px;bottom:-16px;left:70px;height:35px;border-radius:20px;z-index:0}.boy-ballon.hidden{opacity:0;visibility:hidden}@media (min-width: 1000px){.boy-ballon{height:auto;font-size:18px;line-height:80px}.boy-ballon .text{padding:10px 20px;line-height:22px}}@media (min-width: 1000px){.boy-ballon_1{display:block;position:absolute;left:0;top:10px;max-width:330px}.boy-ballon_1:before{position:absolute;width:51px;bottom:5px;left:auto;right:-42px;height:46px;border-radius:50%;box-shadow:-22px 6px 0 0 #59AFE9;z-index:0}}.boy-ballon_2{display:none}@media (min-width: 1000px){.boy-ballon_2{display:block;position:absolute;right:0;top:40px;max-width:290px}.boy-ballon_2:before{position:absolute;width:51px;bottom:5px;right:auto;left:-42px;height:46px;border-radius:50%;box-shadow:22px 6px 0 0 #59AFE9;z-index:0}}@media (min-width: 1000px) and (max-height: 700px){.boy-ballon_2{right:15px;top:25px}}@media (min-width: 1000px){.body_0 .boy-ballon_1{display:none}.body_1 .boy-ballon_2{display:none}.body_6 .boy-ballon_1{display:none}.body_7 .boy-ballon_2{display:none}}.page-wrap_hotels-expand .boy-ballon,.page-wrap_noHotels .boy-ballon{display:none}.page-wrap_hotels .boy-area{display:none}.page-wrap_hotels-compact .boy-area{max-height:117px;overflow:visible;transition:max-height 0.1s ease}@media (min-width: 1000px){.page-wrap_hotels-compact .boy-area{max-height:52px}}.page-wrap_boy-hidden .boy-hand-icon{display:block}.page-wrap_hotels-expand .boy-area{max-height:0;overflow:hidden;transition:max-height 0.15s ease}.timeline-wrap{position:absolute;left:0;right:0;bottom:0;text-align:center;z-index:2;transition:none}@media (min-width: 1000px){.timeline-wrap{transition:box-shadow 0.1s ease}}.timeline{list-style:none;margin:0;padding:0;font-size:0}.timeline-item{display:inline-block;vertical-align:top;height:35px;margin:0 2px;line-height:35px}.timeline-item .label{display:none;vertical-align:middle}@media (min-width: 1000px){.timeline-item{width:12.5%;height:75px;margin:0;transition:border 0.2s ease}.timeline-item:first-child .timeline-link{border:none}.timeline-item .label{display:inline-block;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%, -5px);-ms-transform:translate(-50%, -5px);transform:translate(-50%, -5px);font-size:18px;line-height:1em;transition:-webkit-transform 0.1s ease;transition:transform 0.1s ease}.timeline-item .text{opacity:0;display:inline-block;vertical-align:middle;font-size:18px;line-height:1.25em;margin:3px 0 0;transition:opacity 0.15s ease-out}}.timeline-item_last{display:none;width:16%}.timeline-link{position:relative;display:inline-block;vertical-align:middle;width:16px;height:16px;white-space:nowrap}.timeline-link:before{content:'';display:block;position:absolute;left:50%;top:50%;width:8px;height:8px;background-color:#fff;border-radius:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);transition:background-color 0.2s ease}.timeline-link span{color:inherit;transition:color 0.2s ease}@media (min-width: 1000px){.timeline-link{width:100%;height:100%;line-height:86px;border-left:1px solid;transition:background-color 0.2s ease,border 0.2s ease}.timeline-link:before{display:none}.timeline-link.passed .label{position:absolute;-ms-transform:translate(-50%, -30px);transform:translate(-50%, -30px);-webkit-transform:translate(-50%, -30px);font-size:13px}.timeline-link.textShow .text{opacity:1}}.timeline-item_active{margin:0 6px}.timeline-item_active ~ .timeline-item .timeline-link:before{background-color:rgba(255,255,255,0.2)}.timeline-item_active .timeline-link:before{width:16px;height:16px;background-color:#fff}@media (min-width: 1000px){.timeline-item_active{margin:0}.timeline-item_active .timeline-link{background-color:#fff;color:inherit}}.timeline-chevron{display:inline-block;vertical-align:top;height:100%;width:50%;box-sizing:border-box;font-size:0;background-color:rgba(255,255,255,0.2);border-left:1px solid rgba(0,0,0,0.2)}.timeline-chevron:first-child{border:none}.timeline-chevron-icon{vertical-align:middle}.page-wrap{position:relative;height:100%;width:320px;min-height:420px;box-sizing:border-box;padding:0 10px;margin:0 auto -40px;overflow:auto;text-align:center;z-index:1}.page-wrap:after{content:"";display:block}@media (min-width: 1000px){.page-wrap{width:940px}}.progressBar{position:absolute;top:0;left:0;height:5px;background-color:#fff;transition:width 0.15s ease}@media (min-width: 1000px){.progressBar{display:none}}.progressBar_0{width:12.5%}.progressBar_1{width:25%}.progressBar_2{width:37.5%}.progressBar_3{width:50%}.progressBar_4{width:62.5%}.progressBar_5{width:75%}.progressBar_6{width:87.5%}.progressBar_7{width:100%}.page{position:relative;width:100%;max-width:800px;overflow:hidden;margin:15px auto 0;text-align:center;white-space:nowrap;font-size:0}@media (min-width: 1000px){.page{margin:20px auto 0}}.page-wrap_hotels-compact .page{margin:0 auto}.content{position:relative;display:inline-block;vertical-align:top;width:300px;height:240px;overflow:auto;white-space:normal;font-size:14px}.content .btn_next{margin:15px 0 0}@media (min-width: 1000px){.content{height:430px;width:800px;font-size:24px}.content .btn_next{margin:40px 0 0}}@media (min-width: 1000px) and (max-height: 700px){.content{height:345px;font-size:22px}.content .btn_next{margin:30px 0 0}}.content_2,.content_3{margin:0 auto;-webkit-overflow-scrolling:touch}@media (min-width: 1000px){.content_4{padding:10px 0 0}}@media (min-width: 1000px){.content_5{padding:30px 0 0}}@media (min-width: 1000px){.content_7{height:300px;padding:40px 0 0}}.content_8 .btn_reload{display:none;margin:20px 0 30px}@media (min-width: 1000px){.content_8 .btn_reload{margin:10px 0 20px}}.page-wrap_noHotels .content_8 .btn_reload{display:inline-block}.page-wrap_hotels-compact .content_8{overflow:visible;height:310px}@media (min-width: 1000px){.page-wrap_hotels-compact .content_8{height:550px}}@media (min-width: 1000px) and (max-height: 700px){.page-wrap_hotels-compact .content_8{height:462px}}.page-wrap_hotels-expand .page{margin:0 auto}.page-wrap_hotels-expand .content_8{height:calc(100vh - 50px);overflow:auto;-webkit-overflow-scrolling:touch}@media (min-width: 1000px){.page-wrap_hotels-expand .content_8{height:calc(100vh - 90px)}}.page-wrap_hotels-expand .hotel-photo{height:auto}.page-header{display:none;margin:0;padding:0 0 2%;font-size:1.3em;line-height:1.275em}@media (min-width: 1000px){.page-header{display:block}}@media (min-width: 1000px) and (max-height: 700px){.page-header{padding:0 0 1%;font-size:1.15em;line-height:1.175em}}.page-subheader{display:none;margin:0;padding:5% 0 3%;font-size:1em;line-height:1.346em}@media (min-width: 1000px){.page-subheader{display:block}}@media (min-width: 1000px) and (max-height: 700px){.page-subheader{padding:4% 0 2%}}.page-note{display:none;font-size:20px;line-height:1.35em}@media (min-width: 1000px){.page-note{display:inline-block;vertical-align:top}}.list-cities{display:none}@media (min-width: 1000px){.list-cities{display:block}}.page-location{position:relative;max-width:800px;background-color:#fff}.page-location input{width:100%;height:44px;text-align:left}@media (min-width: 1000px){.page-location input{height:55px;text-align:center}}.span,.hotel-price,.hotel-stars,.hotel-name{display:block;margin:0 auto;overflow:hidden;-ms-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap}.hotels{position:relative;padding:0 0 10px}@media (min-width: 1000px){.hotels{padding:20px 0 10px}}@media (min-width: 1000px) and (max-height: 700px){.hotels{padding:17px 0 10px}}.hotel{position:absolute;left:50%;top:0;margin:0 auto;width:100%;max-width:300px;overflow:hidden;border-radius:8px;background-color:#fff}.hotel .hotel-descr{display:none}.hotel-info{padding:8px 10px}@media (min-width: 1000px){.hotel-info{position:relative;padding:15px 30px}}@media (min-width: 1000px) and (max-height: 700px){.hotel-info{padding:12px 30px 10px}}.hotel-price span{font-family:"GillSansBold",sans-serif}@media (min-width: 1000px) and (max-height: 700px){.hotel-price{font-size:20px;line-height:1em}}.hotel-stars{margin:6px 0 8px;line-height:11px}.hotel-stars .icon{color:#fff;fill:#fff}@media (min-width: 1000px){.hotel-stars{line-height:19px;margin:10px 0 15px}}@media (min-width: 1000px) and (max-height: 700px){.hotel-stars{line-height:16px;margin:7px 0 10px}}@media (min-width: 1000px){.hotel-name{font-size:32px}}@media (min-width: 1000px) and (max-height: 700px){.hotel-name{font-size:28px}}.hotel-rating{display:none;position:absolute;top:-20px;right:-20px;width:90px;height:87px;background-color:#FEC648;color:#fff;border-radius:50%}.hotel-rating span{display:block}.hotel-rating .amount{margin:32px 0 3px;font-family:"GillSansBold",sans-serif;font-size:36px;line-height:18px}.hotel-rating .text{font-size:12px;line-height:1em}.hotel-photo{height:180px}@media (min-width: 1000px){.hotel-photo{height:auto}}.hotel-photo-list{white-space:nowrap;font-size:0}.hotel-photo-list .owl-controls{display:none}.hotel-photo-list-item{display:inline-block;vertical-align:top;width:300px;height:180px;background-position:0 0;background-repeat:no-repeat;background-size:cover}@media (min-width: 1000px){.hotel-photo-list-item{width:600px;height:260px}}.hotel-photo-list-item_hidden{display:none}.owl-item .hotel-photo-list-item_hidden{display:block}.hotel-photo-list-nav{position:absolute;top:0;bottom:0;width:60px;cursor:pointer;z-index:2}.hotel-photo-list-nav .icon{position:absolute;top:50%}@media (min-width: 1000px){.hotel-photo-list-nav{width:120px}}.hotel-photo-list-nav_prev{left:0}.hotel-photo-list-nav_prev .icon{left:0;margin:-14px 0 0 10px}@media (min-width: 1000px){.hotel-photo-list-nav_prev .icon{margin:-14px 0 0 20px}}.hotel-photo-list-nav_next{right:0}.hotel-photo-list-nav_next .icon{right:0;margin:-14px 10px 0 0}@media (min-width: 1000px){.hotel-photo-list-nav_next .icon{margin:-14px 20px 0 0}}.hotel-photo-list-item_n1{background-position:-300px 0}@media (min-width: 1000px){.hotel-photo-list-item_n1{background-position:-600px 0}}.hotel-photo-list-item_n2{background-position:-600px 0}@media (min-width: 1000px){.hotel-photo-list-item_n2{background-position:-1200px 0}}.hotel-photo-list-item_n3{background-position:-900px 0}@media (min-width: 1000px){.hotel-photo-list-item_n3{background-position:-1800px 0}}.hotel-photo-list-item_n4{background-position:-1200px 0}@media (min-width: 1000px){.hotel-photo-list-item_n4{background-position:-2400px 0}}.hotel-photo-list-item_n5{background-position:-1500px 0}@media (min-width: 1000px){.hotel-photo-list-item_n5{background-position:-3000px 0}}.hotel-photo-list-item_n6{background-position:-1800px 0}@media (min-width: 1000px){.hotel-photo-list-item_n6{background-position:-3600px 0}}.hotel-photo-list-item_n7{background-position:-2100px 0}@media (min-width: 1000px){.hotel-photo-list-item_n7{background-position:-4200px 0}}.hotel-photo-list-item_n8{background-position:-2400px 0}@media (min-width: 1000px){.hotel-photo-list-item_n8{background-position:-4800px 0}}.hotel-photo-list-item_n9{background-position:-2700px 0}@media (min-width: 1000px){.hotel-photo-list-item_n9{background-position:-5400px 0}}.hotel-photo-list-item_n10{background-position:-3000px 0}@media (min-width: 1000px){.hotel-photo-list-item_n10{background-position:-6000px 0}}.hotel-photo-link{display:block;width:100%;height:100%;overflow:hidden}.hotel-photo-img{display:block;width:100%;max-width:100%;max-height:100%}.hotel_0{max-width:300px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);z-index:3}.hotel_0 .hotel-info{background-color:#FB6674}@media (min-width: 1000px){.hotel_0{max-width:600px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}}.hotel_1{max-width:280px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);z-index:2}.hotel_1 .hotel-info{background-color:#3FB7C4}@media (min-width: 1000px){.hotel_1{max-width:560px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}}.hotel_2{max-width:260px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);z-index:1}.hotel_2 .hotel-info{background-color:#5D4B78}@media (min-width: 1000px){.hotel_2{max-width:520px;-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0)}}.hotel:first-child{position:relative;left:auto;-ms-transform:translate(0, 0);transform:translate(0, 0);-webkit-transform:translate(0, 0);margin:0 auto}.hotel:nth-child(2){margin-top:28px}@media (min-width: 1000px){.hotel:nth-child(2){margin-top:72px}}@media (min-width: 1000px) and (max-height: 700px){.hotel:nth-child(2){margin-top:56px}}.hotel:nth-child(3){margin-top:56px}@media (min-width: 1000px){.hotel:nth-child(3){margin-top:124px}}@media (min-width: 1000px) and (max-height: 700px){.hotel:nth-child(3){margin-top:94px}}.hotel-descr{padding:10px 0;background-color:#fff;color:#333}.hotel-descr .btn{margin:15px 0 0}@media (min-width: 1000px){.hotel-descr{padding:20px 0}}.hotel-descr-block{position:relative;margin:13px 0 0;padding:0 10px}.hotel-descr-block:first-child{margin:0 auto}@media (min-width: 1000px){.hotel-descr-block{padding:0 20px}}@media (min-width: 1000px){.hotel-descr-block_limitWidth{max-width:400px;margin-left:auto;margin-right:auto}}.hotel-descr-block_noPadding{padding:0}.hotel-descr-title{display:block;line-height:1em;margin:0 0 10px}@media (min-width: 1000px){.hotel-descr-title{margin:0 0 15px}}.hotel-descr-tyReview{display:inline-block;font-family:"GillSansLightItalic",sans-serif;font-size:.857em;line-height:12px;color:#000}@media (min-width: 1000px){.hotel-descr-hours{font-family:"GillSansBold",sans-serif;font-size:18px}}.amenities-list{margin:0 0 0 -20px;padding:0;font-size:0}@media (min-width: 1000px){.amenities-list{margin:0 0 0 -30px}}.amenities-list-item{display:inline-block;vertical-align:top;width:25px;height:20px;line-height:20px;margin:0 0 13px 20px}.amenities-list-item .icon{vertical-align:middle;color:#15A57A;fill:#15A57A}@media (min-width: 1000px){.amenities-list-item{margin:0 0 28px 30px}}.amenities-list_compact{margin:0}.amenities-list_compact .amenities-list-item{margin:0 0 5px 12px}.amenities-list_compact .amenities-list-item:first-child{margin:0 0 5px 0}@media (min-width: 1000px){.amenities-list_compact{margin:0}.amenities-list_compact .amenities-list-item{margin:0 0 0 25px}.amenities-list_compact .amenities-list-item:first-child{margin:0}}.hotel-descr-about{margin:5px 0 0;font-size:0.929em;line-height:1.538em}@media (min-width: 1000px){.hotel-descr-about{max-width:500px;margin:10px auto 0;font-size:18px;line-height:1.5em;color:#434343}}.hotel-map{display:block;max-height:75px;overflow:hidden}.hotel-map img{display:block;max-width:100%}@media (min-width: 1000px){.hotel-map{max-height:115px;margin:0 0 25px}}.hotel-map-location{position:absolute;bottom:0;left:50%;-ms-transform:translate(-50%, 50%);transform:translate(-50%, 50%);-webkit-transform:translate(-50%, 50%);width:26px;height:26px;background-color:#fff;border-radius:50%}.hotel-map-location .icon{width:12px;height:15px;padding:5px 0 0;color:#15A57A;fill:#15A57A}@media (min-width: 1000px){.hotel-map-location{width:38px;height:38px}.hotel-map-location .icon{width:18px;height:23px;padding:8px 0 0}}.hotel-distance{display:inline-block;vertical-align:top;margin:10px 0 0;font-family:"GillSansLight",sans-serif;font-size:.857em;color:#15A57A}.boy-palm{visibility:hidden;opacity:0;position:absolute;top:-3px;width:7px;height:11px;border-radius:5px;background-color:#E5A747;z-index:4;-ms-transform:translate(0, -3px);transform:translate(0, -3px);-webkit-transform:translate(0, -3px);transition:-webkit-transform 0.1s ease,opacity 0.1s ease;transition:transform 0.1s ease,opacity 0.1s ease}@media (min-width: 1000px){.boy-palm{top:17px;width:12px;height:13px}}@media (min-width: 1000px) and (max-height: 700px){.boy-palm{top:17px;width:9px;height:10px}}.page-wrap_boy-hidden .boy-palm{visibility:visible;opacity:1}.page-wrap_boy-hidden .boy-palm_l{left:84px}@media (min-width: 1000px){.page-wrap_boy-hidden .boy-palm_l{left:299px}}@media (min-width: 1000px) and (max-height: 700px){.page-wrap_boy-hidden .boy-palm_l{left:311px}}.page-wrap_boy-hidden .boy-palm_r{right:84px}@media (min-width: 1000px){.page-wrap_boy-hidden .boy-palm_r{right:300px}}@media (min-width: 1000px) and (max-height: 700px){.page-wrap_boy-hidden .boy-palm_r{right:312px}}.page-wrap_hotels-expand .hotel{position:relative;left:auto;max-width:none;margin:10px auto 0;-ms-transform:translate(0, 0);transform:translate(0, 0);-webkit-transform:translate(0, 0);z-index:1}.page-wrap_hotels-expand .hotel:first-child{margin:0 auto}.page-wrap_hotels-expand .hotel-descr{display:block}.page-wrap_hotels-expand .boy-palm{visibility:hidden;opacity:0}.page-wrap_hotels-expand .btn_reload{display:inline-block}@media (min-width: 1000px){.page-wrap_hotels-expand .hotel{max-width:600px}}.page-wrap_hotels-compact .hotel{cursor:pointer}.noHotels{display:none;margin:20px 0 40px;line-height:1.35em}@media (min-width: 1000px){.noHotels{margin:30px 0 50px}}.page-wrap_noHotels .noHotels{display:block}.slick-track{-webkit-backface-visibility:hidden;-webkit-perspective:1000;will-change:transform}.noUi-base{background-color:#73C596}.noUi-background{background:#73C596;box-shadow:none}.noUi-connect{background-color:#fff;box-shadow:none}.noUi-target{border-radius:0;border:none;box-shadow:none}.noUi-horizontal{height:5px}.noUi-horizontal .noUi-handle{position:absolute;width:30px;height:30px;top:50%;left:0;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);border-radius:50%;cursor:default;-ms-touch-action:none;touch-action:none;background-color:#EBC751;border:none;box-shadow:none;z-index:2;transition:box-shadow 0.075s ease-in-out,background-color 0.075s ease-in-out}.noUi-horizontal .noUi-handle:before,.noUi-horizontal .noUi-handle:after{display:none}.noUi-horizontal .noUi-handle.noUi-active{width:28px;height:28px;box-shadow:0 0 0 8px #EBC751;background-color:#fff}.btn{position:relative;max-width:250px;width:100%;box-sizing:border-box;display:inline-block;vertical-align:top;font-size:14px;line-height:37px;border-radius:40px;border:1px solid #fff;white-space:nowrap;transition:color 0.15s ease,box-shadow 0.15s ease;-webkit-perspective:1000;-webkit-backface-visibility:hidden}.btn:active{box-shadow:0 0 0 1px #fff}.btn .text{display:inline-block;vertical-align:middle}.btn .icon{position:absolute;top:50%;right:32px;-ms-transform:translateY(-50%);transform:translateY(-50%);-webkit-transform:translateY(-50%)}@media (min-width: 1000px){.btn{font-size:20px;max-width:380px;line-height:55px}}@media (min-width: 1000px) and (max-height: 700px){.btn{font-size:18px;max-width:350px;line-height:50px}}.btn_reload .icon{left:auto;right:32px;margin-top:-1px}.btn_medium{height:80px;line-height:80px;padding:0 20px;font-size:1.714em}.btn_fill_orange{background-color:#FF8E01}.btn_transparent{background-color:transparent;border:1px solid #666;color:#666}.icon{display:inline-block;vertical-align:top}.icon_ball{width:30px;height:30px}.icon_boy{height:100%;max-width:100%}.icon_zero{height:100%;width:100%;background:url(../../img/icons/zero.svg) 0 0 no-repeat;background-size:contain}.icon_lHand{width:50px;height:108px}@media (min-width: 1000px){.icon_lHand{width:75px;height:55px}}@media (min-width: 1000px) and (max-height: 700px){.icon_lHand{width:70px;height:50px}}.icon_rHand{width:50px;height:108px}@media (min-width: 1000px){.icon_rHand{width:75px;height:55px}}@media (min-width: 1000px) and (max-height: 700px){.icon_rHand{width:70px;height:50px}}.icon_reload{width:14px;height:15px}@media (min-width: 1000px){.icon_reload{width:20px;height:21px}}.icon_telephone{max-height:100%;max-width:100%}.icon_ringer{max-height:100%;max-width:100%}.icon_bust{width:22px;height:27px}.icon_calendar{width:24px;height:24px}.icon_dolphinL{width:58px;height:76px}.icon_dolphinR{width:58px;height:76px}.icon_map{width:100px;height:100px}.icon_palm{width:26px;height:29px}.icon_pen{width:24px;height:24px}.icon_wallet{width:30px;height:32px}.icon_wifi{width:26px;height:20px}.icon_wi{width:94px;height:66px}.icon_location{width:27px;height:38px}.icon_city{width:95px;height:107px;background:url(../../img/icons/cities.png) 0 0 no-repeat;background-size:576px auto}@media (min-width: 1000px) and (max-height: 700px){.icon_city{width:80px;height:90px;background-size:485px auto}}.icon_cityLondon{background-position:0 0}.icon_cityMoscow{background-position:-120px 0}@media (min-width: 1000px) and (max-height: 700px){.icon_cityMoscow{background-position:-101px 0}}.icon_cityParis{background-position:-240px 0}@media (min-width: 1000px) and (max-height: 700px){.icon_cityParis{background-position:-202px 0}}.icon_cityRome{background-position:-360px 0}@media (min-width: 1000px) and (max-height: 700px){.icon_cityRome{background-position:-303px 0}}.icon_cityStambul{background-position:-480px 0}@media (min-width: 1000px) and (max-height: 700px){.icon_cityStambul{background-position:-404px 0}}.icon_chevron{width:13px;height:28px}@media (min-width: 1000px){.icon_chevron{width:18px;height:39px}}.icon_minus{width:20px;height:3px}.icon_plus{height:34px;width:34px}.icon_minusSmall{width:20px;height:4px}@media (min-width: 1000px){.icon_minusSmall{width:24px}}.icon_plusSmall{height:20px;width:20px}@media (min-width: 1000px){.icon_plusSmall{height:22px;width:22px}}.icon_arrow{width:15px;height:13px}@media (min-width: 1000px){.icon_arrow{width:20px;height:16px}}.icon_arrow_L{width:15px;height:13px}@media (min-width: 1000px){.icon_arrow_L{width:19px;height:16px}}.icon_pictoBusiness{width:132px;height:60px}@media (min-width: 1000px){.icon_pictoBusiness{width:150px;height:78px}}.icon_pictoVacation{width:125px;height:71px}@media (min-width: 1000px){.icon_pictoVacation{width:150px;height:88px}}.icon_amBreakfast{width:53px;height:47px}.icon_amPrinter{width:48px;height:43px}.icon_amGym{width:42px;height:42px}.icon_amWifi{width:39px;height:29px}.icon_amPool{width:47px;height:39px}.icon_stars{height:22px}@media (min-width: 1000px){.icon_stars{height:19px}}@media (min-width: 1000px) and (max-height: 700px){.icon_stars{height:16px}}.icon_stars_0{width:16px}.icon_stars_1{width:11px}@media (min-width: 1000px){.icon_stars_1{width:20px}}.icon_stars_2{width:25px}@media (min-width: 1000px){.icon_stars_2{width:46px}}.icon_stars_3{width:39px}@media (min-width: 1000px){.icon_stars_3{width:72px}}.icon_stars_4{width:52px}@media (min-width: 1000px){.icon_stars_4{width:98px}}.icon_stars_5{width:66px}@media (min-width: 1000px){.icon_stars_5{width:124px}}.icon_am{width:21px;height:18px}@media (min-width: 1000px){.icon_am{width:31px;height:27px}}.icon_amBigSwimming{width:47px;height:39px}@media (min-width: 1000px){.icon_amBigSwimming{width:54px;height:45px}}.icon_amBigBreakfast{width:53px;height:47px}@media (min-width: 1000px){.icon_amBigBreakfast{width:60px;height:53px}}.icon_amBigGym{width:48px;height:32px}@media (min-width: 1000px){.icon_amBigGym{width:54px;height:36px}}.icon_amBigSpa{width:46px;height:32px}@media (min-width: 1000px){.icon_amBigSpa{width:53px;height:37px}}.icon_amBigWi{width:42px;height:31px}@media (min-width: 1000px){.icon_amBigWi{width:49px;height:36px}}.icon_amBigBusiness{width:50px;height:35px}@media (min-width: 1000px){.icon_amBigBusiness{width:57px;height:40px}}.ui-ava-rounded{display:inline-block;vertical-align:top;width:100px;height:100px;overflow:hidden;border-radius:50%;border:5px solid #D5D5D5}.ui-ava-rounded img{display:block;width:100%;height:100%;border-radius:50%}.ui-loader{display:block;position:absolute;top:50%;left:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);z-index:1;font-size:0;white-space:nowrap}.ui-loader span{display:inline-block;vertical-align:middle;width:12px;height:12px;margin:0 6px;background-color:#fff;border-radius:100%;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}.ui-loader .ui-loader--bounce1{-webkit-animation-delay:-.32s;animation-delay:-.32s}.ui-loader .ui-loader--bounce2{-webkit-animation-delay:-.16s;animation-delay:-.16s}@media (min-width: 1000px){.ui-loader span{width:20px;height:20px;margin:0 10px}}@-webkit-keyframes bouncedelay{0%,
  100%,
  80%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes bouncedelay{0%,
  100%,
  80%{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.page-wrap_hotels-compact .ui-loader,.page-wrap_hotels-expand .ui-loader,.page-wrap_noHotels .ui-loader{display:none}.ui-dynamic-content-block{display:none;position:absolute;top:0;left:0;right:0;height:210px;background-color:#D1C4AD}.search-form--item_destination{min-height:44px;width:92%;margin:20px auto 0;background-color:#fff}.ui-autocomplete{width:auto !important;position:absolute !important;top:auto !important;left:0 !important;right:0 !important;max-width:800px;text-align:left;z-index:2}.ui-autocomplete .ui-menu-item{line-height:43px;border-top:1px solid #665383;background-color:#fff;transition:background-color 0.15s ease}.ui-autocomplete .ui-menu-item a{display:inline-block;vertical-align:top;width:100%;white-space:nowrap;color:#000;cursor:pointer}.ui-autocomplete .ui-menu-item.ui-state-focus{background-color:#e3e3e3}@media (min-width: 1000px){.ui-autocomplete .ui-menu-item{line-height:50px;font-size:18px}}.ui-autocomplete .ui-menu-item:nth-child(2) .ui-menu-item-img{display:block}.ui-autocomplete .hlf-input--ac{position:relative}.ui-autocomplete .ui-menu-item-text,.ui-autocomplete .ui-menu-item-img{display:inline-block;vertical-align:middle}.ui-autocomplete .ui-menu-item-text{max-width:65%;padding:4px 10px 0;box-sizing:border-box;line-height:1em;overflow:hidden;text-overflow:ellipsis}.ui-autocomplete .ui-menu-item-clar{font-family:"GillSansLight",sans-serif}.ui-autocomplete .ui-menu-item-img{display:none;float:right;max-width:120px;max-height:60px}.ui-autocomplete .ui-menu-item-comment{display:none}.ui-autocomplete .ui-autocomplete-category{display:none}.page-location_mobile .ui-menu-item-text{max-width:100%}.ui-helper-hidden-accessible{display:none}.hlf-input .hint{display:none}.icon-load{display:none;position:absolute;top:12px;right:10px;width:20px;height:20px;background:url(../../img/spin.gif) 0 0 no-repeat;background-size:cover}@media (min-width: 1000px){.icon-load{top:13px;right:15px;width:30px;height:30px}}.icon-close{display:none;position:absolute;top:12px;right:10px;width:20px;height:20px;background:url(../../img/close.svg) 0 0 no-repeat;background-size:cover;cursor:pointer}@media (min-width: 1000px){.icon-close{top:13px;right:15px;width:30px;height:30px}}.hlf-state--no-empty .icon-close{display:block}.hlf-state--loading .icon-load{display:block}.hlf-state--loading .icon-close{display:none}.page-datepicker .hlf-input--calendar{width:100%;margin:0 auto}.page-datepicker .ui-datepicker-calendar{width:100%;margin:0 auto;table-layout:fixed}.page-datepicker .ui-datepicker-calendar th{font-family:"GillSansLight",sans-serif;font-size:0.857em;line-height:1em}.page-datepicker .ui-datepicker-calendar th span{display:block;padding:0 7px;color:#fff}.page-datepicker .ui-datepicker-calendar td{position:relative;padding:.22em}.page-datepicker .ui-datepicker-calendar td a,.page-datepicker .ui-datepicker-calendar td span{display:inline-block;vertical-align:middle;width:100%;height:2.5em;font-family:"GillSansLight",sans-serif;font-size:1em;line-height:2.8em;transition:background-color 0.13s ease,color 0.13s ease}@media (min-width: 1000px) and (max-height: 700px){.page-datepicker .ui-datepicker-calendar td a,.page-datepicker .ui-datepicker-calendar td span{height:2.5em;font-size:18px;line-height:2.8em}}.page-datepicker .ui-datepicker-calendar td:before{position:absolute;top:10px;left:0;right:0;font-family:"GillSans",sans-serif;font-size:12px;line-height:1em;z-index:1}@media (min-width: 1000px) and (max-height: 700px){.page-datepicker .ui-datepicker-calendar td:before{top:6px;font-size:10px}}.page-datepicker .ui-datepicker-calendar td.ui-state-disabled a,.page-datepicker .ui-datepicker-calendar td.ui-state-disabled span{background-color:transparent}.page-datepicker .ui-datepicker-calendar td .ui-state-active{position:relative;background-color:#fff;font-family:"GillSans",sans-serif}@media (min-width: 1000px){.page-datepicker .ui-datepicker-calendar td{padding:.2em}.page-datepicker .ui-datepicker-calendar td.ui-datepicker-dayRange-in:before{content:'Дата заезда'}.page-datepicker .ui-datepicker-calendar td.ui-datepicker-dayRange-out:before{content:'Дата выезда'}}@media (min-width: 1000px) and (max-height: 700px){.page-datepicker .ui-datepicker-calendar td{padding:.18em}}.page-datepicker .ui-datepicker-calendar tr:first-child td a,.page-datepicker .ui-datepicker-calendar tr:first-child td span{margin-top:0}.page-datepicker .ui-datepicker-calendar tr:last-child td a,.page-datepicker .ui-datepicker-calendar tr:last-child td span{margin-bottom:0}.page-datepicker .pseudo-placeholder{display:none}.ui-datepicker-inline .ui-datepicker-prev,.ui-datepicker-inline .ui-datepicker-next{display:none}.ui-datepicker-inline .ui-datepicker-title{margin:0 0 1em;font-family:"GillSans",sans-serif;line-height:1em}.page-datepicker_in .ui-datepicker-calendar td .ui-state-active{color:#51A0D5}.page-datepicker_in .ui-datepicker-calendar td.ui-datepicker-dayRange a,.page-datepicker_in .ui-datepicker-calendar td.ui-datepicker-dayRange span{background-color:#82C0EA}.page-datepicker_in .ui-datepicker-calendar td.ui-datepicker-dayRange-out a,.page-datepicker_in .ui-datepicker-calendar td.ui-datepicker-dayRange-out span{color:#51A0D5;background-color:#fff;font-family:"GillSans",sans-serif}.page-datepicker_in .ui-datepicker-calendar td:before,.page-datepicker_in .ui-datepicker-calendar td:after{color:#51A0D5}.page-datepicker_out .ui-datepicker-calendar td .ui-state-active{color:#40B7C3}.page-datepicker_out .ui-datepicker-calendar td.ui-datepicker-dayRange a,.page-datepicker_out .ui-datepicker-calendar td.ui-datepicker-dayRange span{background-color:#8BD7DF}.page-datepicker_out .ui-datepicker-calendar td.ui-datepicker-dayRange-in a,.page-datepicker_out .ui-datepicker-calendar td.ui-datepicker-dayRange-in span{background-color:#fff;color:#40B7C3;font-family:"GillSans",sans-serif}.page-datepicker_out .ui-datepicker-calendar td:before,.page-datepicker_out .ui-datepicker-calendar td:after{color:#40B7C3}.ui-datepicker-multi{width:100% !important;max-width:300px;margin:0 auto;overflow:auto}@media (min-width: 1000px){.ui-datepicker-multi{max-width:550px}}@media (min-width: 1000px) and (max-height: 700px){.ui-datepicker-multi{max-width:450px}}.ui-datepicker-group{margin:1.5em 0 0}.ui-datepicker-group:first-child{margin:0}.page-guests{padding:0}.page-guests .hlf-guests-dd{font-size:0}.page-guests .hlf-control{position:relative;width:45px;height:45px;display:inline-block;vertical-align:middle;margin:0;border-radius:50%;background-color:rgba(255,255,255,0.15);transition:none}.page-guests .hlf-control span{position:absolute;top:50%;left:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);line-height:0}.page-guests .hlf-control:active{box-shadow:0 0 0 3px rgba(255,255,255,0.75)}.page-guests .hlf-control.hlf-state--disabled{opacity:.5}.page-guests .hlf-control.hlf-state--disabled:active{box-shadow:none}@media (min-width: 1000px){.page-guests .hlf-control{width:60px;height:60px;transition:opacity 0.2s ease,background-color 0.2s ease,box-shadow 0.15s ease}}@media (min-width: 1000px) and (max-height: 700px){.page-guests .hlf-control{width:50px;height:50px}}.page-guests .hlf-guests-adults{margin:5px 0 10px}@media (min-width: 1000px){.page-guests .hlf-guests-adults{margin:5px 0 20px}}@media (min-width: 1000px) and (max-height: 700px){.page-guests .hlf-guests-adults{margin:5px 0 10px}}.page-guests .hlf-guests-adults-val,.page-guests .hlf-guests-adults-title,.page-guests .hlf-guests-children-val,.page-guests .hlf-guests-children-title{display:inline-block;vertical-align:middle;font-size:14px;line-height:1em}@media (min-width: 1000px){.page-guests .hlf-guests-adults-val,.page-guests .hlf-guests-adults-title,.page-guests .hlf-guests-children-val,.page-guests .hlf-guests-children-title{font-size:0.833rem}}.page-guests .hlf-guests-adults-val{width:110px}.page-guests .hlf-guests-adults-val span{display:none}.page-guests .hlf-guests-adults-val span.hlf-guests-adults-title{display:inline-block}@media (min-width: 1000px){.page-guests .hlf-guests-adults-val{width:150px}}.page-guests .hlf-guests-children-val{width:110px}.page-guests .hlf-guests-children-val span{display:none}.page-guests .hlf-guests-children-val span.hlf-guests-children-title{display:inline-block}@media (min-width: 1000px){.page-guests .hlf-guests-children-val{width:150px}}.page-guests .hlf-guests-child-age-hint,.page-guests .hlf-guests-child-age-title{display:none}.page-guests .hlf-guests-children-list-title{margin:15px 0;font-size:14px;line-height:1em}.page-guests .hlf-guests-children-list-title.hlf-state--disabled{display:none}@media (min-width: 1000px){.page-guests .hlf-guests-children-list-title{margin:40px 0 15px;font-size:16px}}@media (min-width: 1000px) and (max-height: 700px){.page-guests .hlf-guests-children-list-title{margin:20px 0 15px}}.page-guests .hlf-guests-children-list{margin:0;padding:0}.page-guests .hlf-guests-children-item{margin:10px 0 0}.page-guests .hlf-guests-children-item:first-child{margin:0}@media (min-width: 1000px){.page-guests .hlf-guests-children-item{display:inline-block;vertical-align:top;margin:0 0 0 15px}}.page-guests .hlf-guests-child-controls{display:inline-block;vertical-align:top}.page-guests .hlf-guests-child-age-val{display:inline-block;vertical-align:top;width:40px;height:35px;line-height:39px;font-size:14px}@media (min-width: 1000px){.page-guests .hlf-guests-child-age-val{width:60px;height:50px;line-height:56px;font-size:20px;background-color:#fff;color:#000}}.page-guests .hlf-guests-child-age-controls .hlf-control{display:inline-block;vertical-align:middle;box-sizing:border-box;width:35px;height:35px;margin:0;border-radius:50%;line-height:36px}.page-guests .hlf-guests-child-age-controls .hlf-control:first-child{border:none}.page-guests .hlf-guests-child-age-controls .hlf-control .icon{vertical-align:middle}.page-guests .hlf-guests-child-age-controls .hlf-control .icon_minusSmall{width:17px;height:3px}.page-guests .hlf-guests-child-age-controls .hlf-control .icon_plusSmall{height:16px;width:16px}.page-guests .hlf-guests-child-age-controls .hlf-control .icon_plus{width:13px;height:13px}.page-guests .hlf-guests-child-age-controls .hlf-control .icon_minus{width:13px;height:2px}@media (min-width: 1000px){.page-guests .hlf-guests-child-age-controls .hlf-control{display:block;height:25px;line-height:25px;border-top:1px solid #fff;border-radius:0}.page-guests .hlf-guests-child-age-controls .hlf-control:first-child{border:none}.page-guests .hlf-guests-child-age-controls .hlf-control .icon_plusSmall{height:12px;width:12px}.page-guests .hlf-guests-child-age-controls .hlf-control .icon_minusSmall{width:14px;height:3px}}.price-range{position:relative;width:240px;margin:60px auto}@media (min-width: 1000px){.price-range{width:500px;margin:40px auto}}.price-range-legend{position:absolute;left:0;right:0;bottom:100%;margin:0 0 25px}@media (min-width: 1000px){.price-range-legend{bottom:auto;top:100%;margin:15px 0 0}}.price-range-val{position:absolute;top:35px;font-family:"GillSansBold",sans-serif;white-space:nowrap}@media (min-width: 1000px){.price-range-val{top:-10px;font-size:18px}}.price-range-val_min{left:-15px}@media (min-width: 1000px){.price-range-val_min{right:100%;left:auto;margin:0 25px 0 0}}.price-range-val_max{right:-15px}@media (min-width: 1000px){.price-range-val_max{left:100%;right:auto;margin:0 0 0 25px}}.popup{display:none;width:80%;position:absolute;top:50%;left:50%;-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);box-sizing:border-box;text-align:center;padding:15px;font-size:16px;line-height:1.2em;background-color:#fff;color:#000;border-radius:10px;z-index:11}.popup p{margin:0 0 5px;font-size:inherit;line-height:inherit}.popup i{font-style:normal}.popup .btn{margin:5px 0 0}@media (min-width: 1000px){.popup{width:500px;padding:25px;font-size:20px;line-height:1.3em}.popup p{margin:0 0 15px}.popup .btn{margin:15px 0 0}}.popup-amenities{margin:10px 0 5px}@media (min-width: 1000px){.popup-amenities{margin:20px 0 30px}}.popup-btn-close{display:none}.popup_proposal .popup-btn-close{display:inline-block}.overlay{display:none;position:absolute;top:0;bottom:0;left:0;right:0;z-index:10;background-color:#000;opacity:.2}.share-open{display:none}.social--line{position:fixed;left:10px;top:10px;z-index:99}@media (min-width: 1000px){.social--line{left:30px;top:30px}}.social--line a{display:block}.social a{display:block;padding:0 !important;float:none;margin:7px 0;height:auto;border-radius:50%}.social a:first-child{margin:0 0 7px}@media (min-width: 1000px){.social a{margin:15px 0}.social a:first-child{margin:0 0 15px}}.social a:focus{outline:none}.social a:hover{opacity:.9}.social a .b-share-icon{display:block;width:30px;height:30px;float:none;border-radius:50%;background-image:url(../../img/social.png);background-repeat:no-repeat;background-size:cover}@media (min-width: 1000px){.social a .b-share-icon{width:40px;height:40px}}a .b-share-icon.animating{-webkit-animation:bouncedelay_soc 1.8s alternate ease;animation:bouncedelay_soc 1.8s alternate ease;-webkit-animation-fill-mode:both;animation-fill-mode:both}.social a .b-share-icon_vkontakte{background-position:0 0}.social a .b-share-icon_facebook{background-position:-33px 0}@media (min-width: 1000px){.social a .b-share-icon_facebook{background-position:-44px 0}}.social a .b-share-icon_twitter{background-position:-66px 0}@media (min-width: 1000px){.social a .b-share-icon_twitter{background-position:-88px 0}}@-webkit-keyframes bouncedelay_soc{0%{-webkit-transform:scale(1);transform:scale(1)}33.33333%{-webkit-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);transform:scale(1.2)}66.66667%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes bouncedelay_soc{0%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}33.33333%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}50%{-webkit-transform:scale(1.2);-ms-transform:scale(1.2);transform:scale(1.2)}66.66667%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}.page-icon{opacity:0;position:absolute;color:rgba(0,0,0,0.1);fill:rgba(0,0,0,0.1);z-index:0;transition:opacity 0.15s ease}.body_0 .page-icon_0{opacity:1}.body_1 .page-icon_1{opacity:1}.body_2 .page-icon_2{opacity:1}.body_3 .page-icon_3{opacity:1}.body_4 .page-icon_4{opacity:1}.body_5 .page-icon_5{opacity:1}.body_6 .page-icon_6{opacity:1}.rotate_10{-ms-transform:rotate(10deg);transform:rotate(10deg);-webkit-transform:rotate(10deg)}.rotate_14{-ms-transform:rotate(14deg);transform:rotate(14deg);-webkit-transform:rotate(14deg)}.rotate_23{-ms-transform:rotate(23deg);transform:rotate(23deg);-webkit-transform:rotate(23deg)}.rotate_m14{-ms-transform:rotate(-14deg);transform:rotate(-14deg);-webkit-transform:rotate(-14deg)}.rotate_m18{-ms-transform:rotate(-18deg);transform:rotate(-18deg);-webkit-transform:rotate(-18deg)}.rotate_m23{-ms-transform:rotate(-23deg);transform:rotate(-23deg);-webkit-transform:rotate(-23deg)}.pos_1{top:19%;left:7%}.pos_2{bottom:53%;left:44%}.pos_3{bottom:30%;left:46%}.pos_4{top:14.5%;right:8%}.pos_5{top:26%;right:7%}.pos_6{top:14%;right:18%}.pos_7{top:13%;right:8%}.pos_8{top:24%;right:11%}.pos_9{top:17%;left:11%}.pos_10{top:19%;right:11%}.state_1{-ms-transform:rotate(-14deg) scale(0.7);transform:rotate(-14deg) scale(0.7);-webkit-transform:rotate(-14deg) scale(0.7)}.state_2{-ms-transform:rotate(-14deg) scale(1.2);transform:rotate(-14deg) scale(1.2);-webkit-transform:rotate(-14deg) scale(1.2)}.state_3{-ms-transform:rotate(-14deg) scale(0.7);transform:rotate(-14deg) scale(0.7);-webkit-transform:rotate(-14deg) scale(0.7)}.state_4{-ms-transform:rotate(9deg) scale(0.7);transform:rotate(9deg) scale(0.7);-webkit-transform:rotate(9deg) scale(0.7)}.state_5{-ms-transform:rotate(9deg) scale(0.9);transform:rotate(9deg) scale(0.9);-webkit-transform:rotate(9deg) scale(0.9)}.state_6{-ms-transform:rotate(-14deg) scale(1.2);transform:rotate(-14deg) scale(1.2);-webkit-transform:rotate(-14deg) scale(1.2)}.state_7{-ms-transform:rotate(-14deg) scale(0.85);transform:rotate(-14deg) scale(0.85);-webkit-transform:rotate(-14deg) scale(0.85)}.font-weight300,h1,h2,h3,h4,h5,.h6{font-weight:300}.text-shadow{text-shadow:0 1px 0 rgba(0,0,0,0.5)}.text-anti-overflow,h1,h2,h3,h4,h5,.h6,p,a{word-wrap:break-word}.dcase{text-transform:lowercase}h1{margin:0 0 20px;font-size:3.571em;line-height:1.140em}h2{margin:0 0 20px;font-size:3.571em;line-height:1.140em}h3{margin:0 0 15px;font-size:3.429em;line-height:1.125em}h3 b{font-family:"GillSans",sans-serif}h4{margin:0 0 15px;font-size:2.571em;line-height:1.139em}h5{margin:0 0 25px;font-size:1.929em;line-height:1.370em}.h6{display:block;margin:0 0 25px;font-size:1.714em;line-height:1.167em}.h6 a{color:#fff}p{font-size:1.429em;line-height:1.5em;margin:15px 0 0}p.p-big{margin:15px auto 50px;max-width:660px;font-size:1.929em;line-height:1.370em}a{text-decoration:none;color:#fff;transition:color 0.15s ease}a:focus{outline:none}.link-alterColor{color:#F4B442}.link-alterColor:hover{color:#FFB228}.link-alterColor:active{color:#FFB228}
