<script type="text/template" id="tpl_hotel">
    <div class="hotel hotel_<%= index %>" data-role="hotel" data-index="<%= index %>" data-type="${hotelType}">
        <div class="hotel-info">
            <span class="hotel-price"><%= hotelTypeText %> <span><%= minPrice %> руб.</span></span>
                <span class="hotel-stars hotel-stars_<%= stars %>">
                    <svg class="boy-icon icon_stars icon icon_stars_<%= stars %>">
                        <use xlink:href="#icon_stars<%= stars %>"></use>
                    </svg>
                </span>
            <span class="hotel-name"><%= name %></span>
        </div>
        <div class="hotel-photo">
            <div class="hotel-photo-list" data-role="photo-list" data-hotel-id="<%= id %>">
                <div class="hotel-photo-list-item hotel-photo-list-item_n0" style="background-image: url(http://photo.hotellook.com/image_v2/limit/h<%= id %>_0/<%= imgW %>/<%= imgH %>.auto)"></div>
                <% _.each(photoList, function(photo) {  %>
                    <div class="hotel-photo-list-item hotel-photo-list-item_n<%= photo.i %> hotel-photo-list-item_hidden" style="background-image: url(<%= photo.src %>)"></div>
                <% }); %>
            </div>
        </div>
        <div class="hotel-descr">
            <% if (rating || tyReview) { %>
                <div class="hotel-descr-block">
                    <% if (rating) { %>
                        <span class="hotel-descr-title">Оценка гостей <%= rating %></span>
                    <% } %>
                    <% if (tyReview) { %>
                        <span class="hotel-descr-tyReview">«<%= tyReview %>»</span>
                    <% } %>
                </div>
            <% } %>
            <% if (hotel_amenities) { %>
                <div class="hotel-descr-block">
                    <span class="hotel-descr-title">Услуги в отеле</span>
                    <ul class="amenities-list">
                        <% _.each(hotel_amenities, function(amenity) {  %>
                            <li class="amenities-list-item">
                                <svg class="icon icon_am icon_am<%= amenity.short %>">
                                    <use xlink:href="#icon_am<%= amenity.short %>"></use>
                                </svg>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
            <% if (room_amenities) { %>
                <div class="hotel-descr-block">
                    <span class="hotel-descr-title">Услуги в номере</span>
                    <ul class="amenities-list">
                        <% _.each(room_amenities, function(amenity) {  %>
                        <li class="amenities-list-item">
                            <svg class="icon icon_am icon_am<%= amenity.short %>">
                                <use xlink:href="#icon_am<%= amenity.short %>"></use>
                            </svg>
                        </li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
            <div class="hotel-descr-block hotel-descr-block_noPadding">
                <a href="<%= mapLink %>" class="hotel-map" target="_blank">
                    <img
                        src="https://maps.googleapis.com/maps/api/staticmap?center=<%= lat %>,<%= lon %>&zoom=12&markers=size:tiny|color:green&size=<%= mapW %>x<%= mapH %>"
                        alt=""/>
                </a>
                <div class="hotel-map-location">
                    <svg class="icon icon_location">
                        <use xlink:href="#icon_location"></use>
                    </svg>
                </div>
            </div>
            <% if (distance) { %>
                <a href="<%= mapLink %>" class="hotel-distance" data-role='map-link' target="_blank">${distance} км от центра города</a>
            <% } %>
            <div class="hotel-descr-block">
                <% if (checkInHour) { %>
                    <span class="hotel-descr-hours">Заезд в <%= checkInHour %><% if (checkOutHour) { %>, выезд в <%= checkOutHour %><% } %></span>
                <% } %>
                <% if (description) { %>
                    <p class="hotel-descr-about">${description}</p>
                <% } %>
            </div>
            <a href="<%= searchLink %>" class="btn btn_fill_orange" target="_blank" data-role="book-btn" data-type="${hotelType}">
                <span class="text">Забронировать за <%= minPrice %> руб.</span>
            </a>
        </div>
    </div>
</script>