$btn-color: #fff;

.btn {
  position: relative;
  max-width: 250px;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  font-size: $default-font-size;
  line-height: 37px;
  border-radius: 40px;
  border: 1px solid $btn-color;
  white-space: nowrap;
  @include transition2props(color, .15s, ease, box-shadow, .15s, ease);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;

  &:active {
    box-shadow: 0 0 0 1px rgba(255,255,255,1);
  }

  .text {
    display: inline-block;
    vertical-align: middle;
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  @media (min-width: 1000px) {
    font-size: 20px;
    max-width: 380px;
    line-height: 55px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    font-size: 18px;
    max-width: 350px;
    line-height: 50px;
  }
}

.btn_reload {
  .icon {
    left: auto;
    right: 32px;
    margin-top: -1px;
  }
}

/* Sizing */

$height-medium: 80px;

.btn_medium {
  height: $height-medium;
  line-height: $height-medium;
  padding: 0 20px;
  font-size: 1.714em;
}

/* Styling */
.btn_fill_orange {
  background-color: #FF8E01;
}

.btn_transparent {
  background-color: transparent;
  border: 1px solid #666;
  color: #666;
}