$th-color: #fff;//#A8CFEA;

$checkIn-color: #59AFE9;
$checkOut-color: #4BC8D5;

$range-color: rgba(255,255,255,1);

$cell-width: 100%;
$cell-height: 2.5em;

.page-datepicker {

  .hlf-input--calendar {
    width: 100%;
    margin: 0 auto;
  }

  // table
  .ui-datepicker-calendar {
    width: 100%;
    margin: 0 auto;
    table-layout: fixed;

    th {
      font-family: $light-font-family;
      font-size: 0.857em;
      line-height: 1em;
      span {
        display: block;
        padding: 0 7px;
        color: $th-color;
      }
    }

    td {
      position: relative;
      padding: .22em;
      a,
      span {
        display: inline-block;
        vertical-align: middle;
        width: $cell-width;
        height: $cell-height;
        font-family: $light-font-family;
        font-size: 1em;
        line-height: 2.8em;
        @include transition2props(background-color, .13s, ease, color, .13s, ease);

        @media (min-width: 1000px) and (max-height: 700px) {
          height: 2.5em;
          font-size: 18px;
          line-height: 2.8em;
        }
      }

      &:before {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        font-family: $regular-font-family;
        font-size: 12px;
        line-height: 1em;
        z-index: 1;

        @media (min-width: 1000px) and (max-height: 700px) {
          top: 6px;
          font-size: 10px;
        }
      }

      // Disabled state
      &.ui-state-disabled {
        a,
        span {
          background-color: transparent;
        }
      }

      // Active state of cell
      .ui-state-active {
        position: relative;
        background-color: #fff;
        font-family: $regular-font-family;
      }

      @media (min-width: 1000px) {
        padding: .2em;
        &.ui-datepicker-current-day {
          //&:after {
          //  content: 'Сегодня';
          //}
        }
        &.ui-datepicker-dayRange-in {
          &:before {
            content: 'Дата заезда';
          }
        }
        &.ui-datepicker-dayRange-out {
          &:before {
            content: 'Дата выезда';
          }
        }
      }

      @media (min-width: 1000px) and (max-height: 700px) {
        padding: .18em;
      }
    }

    tr {
      &:first-child {
        td {
          a,
          span {
            margin-top: 0;
          }
        }
      }
      &:last-child {
        td {
          a,
          span {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .pseudo-placeholder {
    display: none;
  }
}

.ui-datepicker-inline {
  .ui-datepicker-prev,
  .ui-datepicker-next {
    display: none;
  }

  .ui-datepicker-title {
    margin: 0 0 1em;
    font-family: $regular-font-family;
    line-height: 1em;
  }
}

.page-datepicker_in {
  .ui-datepicker-calendar {
    td {
      // Active state of cell
      .ui-state-active {
        color: #51A0D5;
      }
      &.ui-datepicker-dayRange {
        a,
        span {
          background-color: #82C0EA;
        }
      }
      &.ui-datepicker-dayRange-out {
        a,
        span {
          color: #51A0D5;
          background-color: $range-color;
          font-family: $regular-font-family;
        }
      }
      &:before,
      &:after {
        color: #51A0D5;
      }
    }
  }
}

.page-datepicker_out {
  .ui-datepicker-calendar {
    td {
      // Active state of cell
      .ui-state-active {
        color: #40B7C3;
      }
      &.ui-datepicker-dayRange {
        a,
        span {
          background-color: #8BD7DF;
        }
      }
      &.ui-datepicker-dayRange-in {
        a,
        span {
          background-color: $range-color;
          color: #40B7C3;
          font-family: $regular-font-family;
        }
      }
      &:before,
      &:after {
        color: #40B7C3;
      }
    }
  }
}

.ui-datepicker-multi {
  width: 100% !important;
  max-width: 300px;
  margin: 0 auto;
  overflow: auto;

  @media (min-width: 1000px) {
    max-width: 550px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    max-width: 450px;
  }
}

.ui-datepicker-group {
  margin: 1.5em 0 0;
  &:first-child {
    margin: 0;
  }
}