$guest-control-width: 45px;
$guest-control-height: 45px;

$guest-val-field-width: 110px;
$guest-val-field-width1000: 150px;

.page-guests {
  padding: 0;
  .hlf-guests-dd {
    font-size: 0;
  }

  .hlf-control {
    position: relative;
    width: $guest-control-width;
    height: $guest-control-height;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-radius: 50%;
    background-color: rgba(255,255,255,.15);
    @include transitionNone();

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      line-height: 0;
    }
    &:active {
      box-shadow: 0 0 0 3px rgba(255,255,255,0.75);
    }

    &.hlf-state--disabled {
      opacity: .5;
      &:active {
        box-shadow: none;
      }
    }

    @media (min-width: 1000px) {
      width: 60px;
      height: 60px;
      @include transition3props(opacity, .2s, ease, background-color, .2s, ease, box-shadow, .15s, ease);
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      width: 50px;
      height: 50px;
    }
  }

  .hlf-guests-adults {
    margin: 5px 0 10px;

    @media (min-width: 1000px) {
      margin: 5px 0 20px;
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      margin: 5px 0 10px;
    }
  }

  .hlf-guests-adults-val,
  .hlf-guests-adults-title,
  .hlf-guests-children-val,
  .hlf-guests-children-title {
    display: inline-block;
    vertical-align: middle;
    font-size: $default-font-size;
    line-height: 1em;

    @media (min-width: 1000px) {
      font-size: 0.833rem;
    }
  }

  .hlf-guests-adults-val {
    width: $guest-val-field-width;
    span {
      display: none;
      &.hlf-guests-adults-title {
       display: inline-block;
      }
    }

    @media (min-width: 1000px) {
      width: $guest-val-field-width1000;
    }
  }

  .hlf-guests-children-val {
    width: $guest-val-field-width;
    span {
      display: none;
      &.hlf-guests-children-title {
        display: inline-block;
      }
    }

    @media (min-width: 1000px) {
      width: $guest-val-field-width1000;
    }
  }

  // children list
  .hlf-guests-child-age-hint,
  .hlf-guests-child-age-title {
    display: none;
  }

  .hlf-guests-children-list-title {
    margin: 15px 0;
    font-size: $default-font-size;
    line-height: 1em;
    &.hlf-state--disabled {
      display: none;
    }

    @media (min-width: 1000px) {
      margin: 40px 0 15px;
      font-size: 16px;
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      margin: 20px 0 15px;
    }
  }

  .hlf-guests-children-list {
    margin: 0;
    padding: 0;
  }

  .hlf-guests-children-item {
    margin: 10px 0 0;
    &:first-child {
      margin: 0;
    }

    @media (min-width: 1000px) {
      display: inline-block;
      vertical-align: top;
      margin: 0 0 0 15px;
    }
  }

  .hlf-guests-child-controls {
    display: inline-block;
    vertical-align: top;
  }

  .hlf-guests-child-age-val {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 35px;
    line-height: 39px;
    font-size: $default-font-size;

    @media (min-width: 1000px) {
      width: 60px;
      height: 50px;
      line-height: 56px;
      font-size: 20px;
      background-color: #fff;
      color: #000;
    }
  }

  .hlf-guests-child-age-controls {
    .hlf-control {
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 35px;
      height: 35px;
      margin: 0;
      border-radius: 50%;
      line-height: 36px;
      &:first-child {
        border: none;
      }

      .icon {
        vertical-align: middle;
      }

      .icon_minusSmall {
        width: 17px;
        height: 3px;
      }

      .icon_plusSmall {
        height: 16px;
        width: 16px;
      }

      .icon_plus {
        width: 13px;
        height: 13px;
      }

      .icon_minus {
        width: 13px;
        height: 2px;
      }
    }

    @media (min-width: 1000px) {
      .hlf-control {
        display: block;
        height: 25px;
        line-height: 25px;
        border-top: 1px solid #fff;
        border-radius: 0;
        &:first-child {
          border: none;
        }

        .icon_plusSmall {
          height: 12px;
          width: 12px;
        }

        .icon_minusSmall {
          width: 14px;
          height: 3px;
        }
      }
    }
  }
}