.icon {
  display: inline-block;
  vertical-align: top;
}

.icon_ball {
  width: 30px;
  height: 30px;
}

.icon_boy {
  height: 100%;
  max-width: 100%;
}

.icon_zero {
  height: 100%;
  //max-width: 100%;
  width: 100%;
  background: url(../../img/icons/zero.svg) 0 0 no-repeat;
  background-size: contain;
}

.icon_lHand {
  width: 50px;
  height: 108px;

  @media (min-width: 1000px) {
    width: 75px;
    height: 55px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 70px;
    height: 50px;
  }
}

.icon_rHand {
  width: 50px;
  height: 108px;

  @media (min-width: 1000px) {
    width: 75px;
    height: 55px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 70px;
    height: 50px;
  }
}

.icon_reload {
  width: 14px;
  height: 15px;

  @media (min-width: 1000px) {
    width: 20px;
    height: 21px;
  }
}

.icon_telephone {
  max-height: 100%;
  max-width: 100%;
}

.icon_ringer {
  max-height: 100%;
  max-width: 100%;
}

.icon_bust {
  width: 22px;
  height: 27px;
}

.icon_calendar {
  width: 24px;
  height: 24px;
}

.icon_dolphinL {
  width: 58px;
  height: 76px;
}

.icon_dolphinR {
  width: 58px;
  height: 76px;
}

.icon_map {
  width: 100px;
  height: 100px;
}

.icon_palm {
  width: 26px;
  height: 29px;
}

.icon_pen {
  width: 24px;
  height: 24px;
}

.icon_wallet {
  width: 30px;
  height: 32px;
}

.icon_wifi {
  width: 26px;
  height: 20px;
}

.icon_wi {
  width: 94px;
  height: 66px;
}

.icon_location {
  width: 27px;
  height: 38px;
}

.icon_city {
  width: 95px;
  height: 107px;
  background: url(../../img/icons/cities.png) 0 0 no-repeat;
  background-size: 576px auto;

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 80px;
    height: 90px;
    background-size: 485px auto;
  }
}

.icon_cityLondon {
  background-position: 0 0;
}

.icon_cityMoscow {
  background-position: -120px 0;

  @media (min-width: 1000px) and (max-height: 700px) {
    background-position: -101px 0;
  }
}

.icon_cityParis {
  background-position: -240px 0;

  @media (min-width: 1000px) and (max-height: 700px) {
    background-position: -202px 0;
  }
}

.icon_cityRome {
  background-position: -360px 0;

  @media (min-width: 1000px) and (max-height: 700px) {
    background-position: -303px 0;
  }
}

.icon_cityStambul {
  background-position: -480px 0;

  @media (min-width: 1000px) and (max-height: 700px) {
    background-position: -404px 0;
  }
}

.icon_chevron {
  width: 13px;
  height: 28px;

  @media (min-width: 1000px) {
    width: 18px;
    height: 39px;
  }
}

.icon_minus {
  width: 20px;
  height: 3px;
}

.icon_plus {
  height: 34px;
  width: 34px;
}

.icon_minusSmall {
  width: 20px;
  height: 4px;

  @media (min-width: 1000px) {
    width: 24px;
  }
}

.icon_plusSmall {
  height: 20px;
  width: 20px;

  @media (min-width: 1000px) {
    height: 22px;
    width: 22px;
  }
}

.icon_arrow {
  width: 15px;
  height: 13px;

  @media (min-width: 1000px) {
    width: 20px;
    height: 16px;
  }
}

.icon_arrow_L {
  width: 15px;
  height: 13px;

  @media (min-width: 1000px) {
    width: 19px;
    height: 16px;
  }
}

.icon_pictoBusiness {
  width: 132px;
  height: 60px;

  @media (min-width: 1000px) {
    width: 150px;
    height: 78px;
  }
}

.icon_pictoVacation {
  width: 125px;
  height: 71px;

  @media (min-width: 1000px) {
    width: 150px;
    height: 88px;
  }
}

//amenities

.icon_amBreakfast {
  width: 53px;
  height: 47px;
}

.icon_amPrinter {
  width: 48px;
  height: 43px;
}

.icon_amGym {
  width: 42px;
  height: 42px;
}

.icon_amWifi {
  width: 39px;
  height: 29px;
}

.icon_amPool {
  width: 47px;
  height: 39px;
}

.icon_stars {
  height: 22px;

  @media (min-width: 1000px) {
    height: 19px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    height: 16px;
  }
}

.icon_stars_0 {
  width: 16px;
}

.icon_stars_1 {
  width: 11px;

  @media (min-width: 1000px) {
    width: 20px;
  }
}

.icon_stars_2 {
  width: 25px;

  @media (min-width: 1000px) {
    width: 46px;
  }
}

.icon_stars_3 {
  width: 39px;

  @media (min-width: 1000px) {
    width: 72px;
  }
}

.icon_stars_4 {
  width: 52px;

  @media (min-width: 1000px) {
    width: 98px;
  }
}

.icon_stars_5 {
  width: 66px;

  @media (min-width: 1000px) {
    width: 124px;
  }
}

//amenities small

.icon_am {
  width: 21px;
  height: 18px;

  @media (min-width: 1000px) {
    width: 31px;
    height: 27px;
  }
}

//amenities big

.icon_amBigSwimming {
  width: 47px;
  height: 39px;

  @media (min-width: 1000px) {
    width: 54px;
    height: 45px;
  }
}

.icon_amBigBreakfast {
  width: 53px;
  height: 47px;

  @media (min-width: 1000px) {
    width: 60px;
    height: 53px;
  }
}

.icon_amBigGym {
  width: 48px;
  height: 32px;

  @media (min-width: 1000px) {
    width: 54px;
    height: 36px;
  }
}

.icon_amBigSpa {
  width: 46px;
  height: 32px;

  @media (min-width: 1000px) {
    width: 53px;
    height: 37px;
  }
}

.icon_amBigWi {
  width: 42px;
  height: 31px;

  @media (min-width: 1000px) {
    width: 49px;
    height: 36px;
  }
}

.icon_amBigBusiness {
  width: 50px;
  height: 35px;

  @media (min-width: 1000px) {
    width: 57px;
    height: 40px;
  }
}