.ui-loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 1;
  font-size: 0;
  white-space: nowrap;
  span {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    margin: 0 6px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .ui-loader--bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
  }

  .ui-loader--bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
  }

  @media (min-width: 1000px) {
    span {
      width: 20px;
      height: 20px;
      margin: 0 10px;
    }
  }
}

@-webkit-keyframes bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bouncedelay {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.page-wrap_hotels-compact,
.page-wrap_hotels-expand,
.page-wrap_noHotels {
  .ui-loader {
    display: none;
  }
}