

$icon-color: rgba(0,0,0,.1);

.page-icon {
  opacity: 0;
  position: absolute;
  color: $icon-color;
  fill: $icon-color;
  z-index: 0;
  @include transition(opacity, .15s, ease);
}

.body_0 {
  .page-icon_0 {
    opacity: 1;
  }
}

.body_1 {
  .page-icon_1 {
    opacity: 1;
  }
}

.body_2 {
  .page-icon_2 {
    opacity: 1;
  }
}

.body_3 {
  .page-icon_3 {
    opacity: 1;
  }
}

.body_4 {
  .page-icon_4 {
    opacity: 1;
  }
}

.body_5 {
  .page-icon_5 {
    opacity: 1;
  }
}

.body_6 {
  .page-icon_6 {
    opacity: 1;
  }
}


/* Icons rotations */

.rotate_10 {
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
}
.rotate_14 {
  transform: rotate(14deg);
  -webkit-transform: rotate(14deg);
}
.rotate_23 {
  transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
}
.rotate_m14 {
  transform: rotate(-14deg);
  -webkit-transform: rotate(-14deg);
}
.rotate_m18 {
  transform: rotate(-18deg);
  -webkit-transform: rotate(-18deg);
}
.rotate_m23 {
  transform: rotate(-23deg);
  -webkit-transform: rotate(-23deg);
}

/* Icons positions */

.pos_1 {
  top: 19%;
  left: 7%;
}

.pos_2 {
  bottom: 53%;
  left: 44%;
}

.pos_3 {
  bottom: 30%;
  left: 46%;
}

.pos_4 {
  top: 14.5%;
  right: 8%;
}

.pos_5 {
  top: 26%;
  right: 7%;
}

.pos_6 {
  top: 14%;
  right: 18%;
}

.pos_7 {
  top: 13%;
  right: 8%;
}

.pos_8 {
  top: 24%;
  right: 11%;
}

.pos_9 {
  top: 17%;
  left: 11%;
}

.pos_10 {
  top: 19%;
  right: 11%;
}

/* icons states (if scale and rotate both) */

.state_1 {
  transform: rotate(-14deg) scale(0.7);
  -webkit-transform: rotate(-14deg) scale(0.7);
}

.state_2 {
  transform: rotate(-14deg) scale(1.2);
  -webkit-transform: rotate(-14deg) scale(1.2);
}

.state_3 {
  transform: rotate(-14deg) scale(0.7);
  -webkit-transform: rotate(-14deg) scale(0.7);
}

.state_4 {
  transform: rotate(9deg) scale(0.7);
  -webkit-transform: rotate(9deg) scale(0.7);
}

.state_5 {
  transform: rotate(9deg) scale(0.9);
  -webkit-transform: rotate(9deg) scale(0.9);
}

.state_6 {
  transform: rotate(-14deg) scale(1.2);
  -webkit-transform: rotate(-14deg) scale(1.2);
}

.state_7 {
  transform: rotate(-14deg) scale(0.85);
  -webkit-transform: rotate(-14deg) scale(0.85);
}