.ui-ava-rounded {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #D5D5D5;
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}