.popup {
  display: none;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  font-size: 16px;
  line-height: 1.2em;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  z-index: 11;

  p {
    margin: 0 0 5px;
    font-size: inherit;
    line-height: inherit;
  }
  
  i {
    font-style: normal;
  }

  .btn {
    margin: 5px 0 0;
  }

  @media (min-width: 1000px) {
    width: 500px;
    padding: 25px;
    font-size: 20px;
    line-height: 1.3em;

    p {
      margin: 0 0 15px;
    }

    .btn {
      margin: 15px 0 0;
    }
  }
}

.popup-amenities {
  margin: 10px 0 5px;

  @media (min-width: 1000px) {
    margin: 20px 0 30px;
  }
}

.popup-btn-close {
  display: none;
}

.popup_proposal {
  .popup-btn-close {
    display: inline-block;
  }
}