.price-range {
  position: relative;
  width: 240px;
  margin: 60px auto;

  @media (min-width: 1000px) {
    width: 500px;
    margin: 40px auto;
  }
}

.price-range-legend {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  margin: 0 0 25px;

  @media (min-width: 1000px) {
    bottom: auto;
    top: 100%;
    margin: 15px 0 0;
  }
}

.price-range-val {
  position: absolute;
  top: 35px;
  font-family: $bold-font-family;
  white-space: nowrap;

  @media (min-width: 1000px) {
    top: -10px;
    font-size: 18px;
  }
}

.price-range-val_min {
  left: -15px;

  @media (min-width: 1000px) {
    right: 100%;
    left: auto;
    margin: 0 25px 0 0;
  }
}

.price-range-val_max {
  right: -15px;

  @media (min-width: 1000px) {
    left: 100%;
    right: auto;
    margin: 0 0 0 25px;
  }
}