$ac-bg-color: #fff;
$ac-bg-color--focus: #e3e3e3;

.search-form--item_destination {
  min-height: 44px;
  width: 92%;
  margin: 20px auto 0;
  background-color: #fff;
}

.ui-autocomplete {
  width: auto !important;
  position: absolute !important;
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  max-width: 800px;
  text-align: left;
  z-index: 2;

  .ui-menu-item {
    line-height: 43px;
    border-top: 1px solid #665383;
    background-color: $ac-bg-color;
    @include transition(background-color,.15s,ease);
    a {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      white-space: nowrap;
      color: #000;
      cursor: pointer;
    }

    &.ui-state-focus {
      background-color: $ac-bg-color--focus;
    }

    @media (min-width: 1000px) {
      line-height: 50px;
      font-size: 18px;
    }

    &:nth-child(2) {
      .ui-menu-item-img {
        display: block;
      }
    }
  }

  .hlf-input--ac {
    position: relative;
  }

  .ui-menu-item-text, .ui-menu-item-img {
    display: inline-block;
    vertical-align: middle;
  }

  .ui-menu-item-text {
    max-width: 65%;
    padding: 4px 10px 0;
    box-sizing: border-box;
    line-height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ui-menu-item-clar {
    font-family: $light-font-family;
  }

  .ui-menu-item-img {
    display: none;
    float: right;
    max-width: 120px;
    max-height: 60px;
  }

  .ui-menu-item-comment {
    display: none;
  }

  .ui-autocomplete-category {
    display: none;
  }
}

// For mobile devices

.page-location_mobile {
  .ui-menu-item-text {
    max-width: 100%;
  }
}

.ui-helper-hidden-accessible {
  display: none;
}

.hlf-input {
  .hint {
    display: none;
  }
}

.icon-load {
  display: none;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(../../img/spin.gif) 0 0 no-repeat;
  background-size: cover;

  @media (min-width: 1000px) {
    top: 13px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
}

.icon-close {
  display: none;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(../../img/close.svg) 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;

  @media (min-width: 1000px) {
    top: 13px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
}

.hlf-state--no-empty {
  .icon-close {
    display: block;
  }
}

.hlf-state--loading {
  .icon-load {
    display: block;
  }
  .icon-close {
    display: none;
  }
}
