
.share-open {
  display: none;
}
.social--line {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 99;

  @media (min-width: 1000px) {
    left: 30px;
    top: 30px;
  }
}
.social--line a {
  display: block;
}
.social a {
  display: block;
  padding: 0 !important;
  float: none;
  margin: 7px 0;
  height: auto;
  border-radius: 50%;

  &:first-child {
    margin: 0 0 7px;
  }

  @media (min-width: 1000px) {
    margin: 15px 0;

    &:first-child {
      margin: 0 0 15px;
    }
  }
}

.social a:focus {
  outline: none;
}
.social a:hover {
  opacity: .9;
}

.social a .b-share-icon {
  display: block;
  width: 30px;
  height: 30px;
  float: none;
  border-radius: 50%;
  background-image: url(../../img/social.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1000px) {
    width: 40px;
    height: 40px;
  }
}

a .b-share-icon.animating {
  -webkit-animation: bouncedelay_soc 1.8s alternate ease;
  animation: bouncedelay_soc 1.8s alternate ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.social a .b-share-icon_vkontakte {
  background-position: 0 0;
}

.social a .b-share-icon_facebook {
  background-position: -33px 0;

  @media (min-width: 1000px) {
    background-position: -44px 0;
  }
}

.social a .b-share-icon_twitter {
  background-position: -66px 0;

  @media (min-width: 1000px) {
    background-position: -88px 0;
  }
}

@-webkit-keyframes bouncedelay_soc {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  33.33333% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  66.66667% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bouncedelay_soc {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  33.33333% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

  66.66667% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}