@charset "UTF-8";

html, body {
  height: 100%;
  min-height: 420px;
  font-size: $default-font-size;

  @media (min-width: 1000px) {
    font-size: $desktop-font-size;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    font-size: $desktop-font-size2;
  }
}

body {
  position: relative;
  width: 100%;
  background: $bg-color-main;
  font-family: $regular-font-family;
  line-height: $default-line-height;
  font-weight: $default-font-weight;
  color: $default-text-color;
  -webkit-font-smoothing:antialiased;
}

.wrapper {
  position: relative;
  height: 100%;

  &.blured {
    filter: blur(3px);
  }
}

.ovflow-hidden {
  overflow: hidden;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  vertical-align: top;
}

@mixin placeholder {
  font-family: $light-italic-font-family;
  font-size: 1em;
  line-height: 1.2em;
  color: #787878;
}

input {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  margin: 0;
  line-height: 1em;
  border: none;
  box-shadow: none;
  -webkit-backface-visibility: hidden;
  color: #000;
  &::-webkit-input-placeholder {
    @include placeholder;
  }
  &:-moz-placeholder { /* Firefox 18- */
    @include placeholder;
  }
  &::-moz-placeholder {  /* Firefox 19+ */

    font-family: $light-italic-font-family;
  }
  &:-ms-input-placeholder {
    @include placeholder;
  }
  &:focus {
    outline: none;
  }
  &:-webkit-autofill {
    color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px white inset;
  }
}

.sbmtBtn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 74px;
  height: 52px;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: none;
  -webkit-backface-visibility: hidden;
  background-color: #F4B442;
  border-radius: 40px;
  .icon_arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    @include transition(transform, .15s, ease);
  }
  &:hover {
    .icon_arrow {
      transform: translate(-35%,-50%);
      -webkit-transform: translate(-35%,-50%);
    }
  }
  &:focus {
    outline: none;
  }

  .sbmtBtn-icon_arrow {

  }

  .sbmtBtn-icon_loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }

  .sbmtBtn-icon_ok {
    display: none;
  }
}

/*
 Layout
 */

img[src^='//googleads.g.doubleclick.net'],
img[src^='http://vk.com/rtrg'],
img[src^='//vk.com/rtrg'] {
  position: absolute;
  top: 0;
}

.hidden-element {
  display: none;
}

@import 'blockColors';
@import 'lists';
@import 'boy';
@import 'timeline';
@import 'pages/pages-common';
@import 'pages/page1';
@import 'pages/page2';
@import 'hotel';