$page0-color: #64AE11;
$page0-sub-color: #73C418;

$page1-color: #51A0D5;
$page1-sub-color: #59AFE9;

$page2-color: #3FB7C4;
$page2-sub-color: #4BC8D5;

$page3-color: #16A085;
$page3-sub-color: #1AB698;

$page4-color: #D8A499;
$page4-sub-color: #DFACA1;
$page4-check-color: #D09C91;

$page5-color: #E25764;
$page5-sub-color: #FB6674;
$page5-check-color: #EF6373;

$page6-color: #27AE60;
$page6-sub-color: #56C570;

$page7-color: #15A57A;
$page7-sub-color: #17BB8A;

$speed: .1s;

body,
.boy-ballon,
.timeline-wrap,
.list-spot {
  @include transitionNone();

  @media (min-width: 1000px) {
    @include transition(background-color, $speed, ease)
  }
}

.boy-ballon {
  &:before {
    @include transitionNone();

    @media (min-width: 1000px) {
      @include transition(box-shadow, $speed, ease);
    }
  }
}

.body_0 {
  background-color: $page0-color;
  .boy-ballon {
    background-color: $page0-sub-color;
  }
  .timeline-wrap {
    background-color: $page0-sub-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page0-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-link {
      background-color: $page0-sub-color;
      border-color: $page0-color;
    }
    .timeline-item_active {
      color: $page0-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page0-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page0-sub-color;
      }
    }
  }
}

.body_1 {
  background-color: $page1-color;

  .boy-ballon,
  .timeline-wrap {
    background-color: $page1-sub-color;
  }

  .timeline-wrap {
    box-shadow: 0 -5px 40px 25px $page1-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page1-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-wrap {
      box-shadow: 0 -5px 70px 50px $page1-color;
    }
    .timeline-link {
      background-color: $page1-sub-color;
      border-color: $page1-color;
    }
    .timeline-item_active {
      color: $page1-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page1-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page1-sub-color;
      }
    }
  }

  .page-datepicker_in {
    .ui-datepicker-calendar {
      td {
        a,
        span {
          background-color: $page1-sub-color;
          @include transitionNone();
          @media (min-width: 1000px) {
            @include transition(background-color, $speed, ease);
          }
        }
        .ui-state-active {
          background-color: #fff;
        }
      }
    }
  }
}

.body_2 {
  background-color: $page2-color;

  .boy-ballon,
  .timeline-wrap {
    background-color: $page2-sub-color;
  }

  .timeline-wrap {
    box-shadow: 0 -5px 40px 25px $page2-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page2-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-wrap {
      box-shadow: 0 -5px 70px 50px $page2-color;
    }
    .timeline-link {
      background-color: $page2-sub-color;
      border-color: $page2-color;
    }
    .timeline-item_active {
      color: $page2-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page2-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page2-sub-color;
      }
    }
  }

  .page-datepicker_out {
    .ui-datepicker-calendar {
      td {
        a,
        span {
          background-color: $page2-sub-color;
          @include transitionNone();

          @media (min-width: 1000px) {
            @include transition(background-color, $speed, ease);
          }
        }
        .ui-state-active {
          background-color: #fff;
        }
      }
    }
  }
}

.body_3 {
  background-color: $page3-color;

  .boy-ballon,
  .timeline-wrap {
    background-color: $page3-sub-color;
  }

  .timeline-wrap {
    box-shadow: 0 -5px 40px 25px $page3-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page3-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-wrap {
      box-shadow: none;
    }
    .timeline-link {
      background-color: $page3-sub-color;
      border-color: $page3-color;
    }
    .timeline-item_active {
      color: $page3-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page3-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page3-sub-color;
      }
    }
  }

  .page-guests .hlf-control {
    background-color: $page3-sub-color;
  }
}

.body_4 {
  background-color: $page4-color;

  .boy-ballon,
  .timeline-wrap,
  .list-spot {
    background-color: $page4-sub-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page4-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-link {
      background-color: $page4-sub-color;
      border-color: $page4-color;
    }
    .timeline-item_active {
      color: $page4-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page4-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page4-sub-color;
      }
    }
  }

  .list-check {
    color: $page4-check-color;
    border: 3px solid $page4-check-color;
  }
}

.body_5 {
  background-color: $page5-color;

  .boy-ballon,
  .timeline-wrap,
  .list-spot {
    background-color: $page5-sub-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page5-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-link {
      background-color: $page5-sub-color;
      border-color: $page5-color;
    }
    .timeline-item_active {
      color: $page5-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page5-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page5-sub-color;
      }
    }
  }

  .list-check {
    color: $page5-check-color;
    border: 3px solid $page5-check-color;
  }
}

.body_6 {
  background-color: $page6-color;

  .boy-ballon,
  .timeline-wrap {
    background-color: $page6-sub-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page6-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-link {
      background-color: $page6-sub-color;
      border-color: $page6-color;
    }
    .timeline-item_active {
      color: $page6-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page6-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page6-sub-color;
      }
    }
  }
}

.body_7 {
  background-color: $page7-color;

  .boy-ballon,
  .timeline-wrap {
    background-color: $page7-sub-color;
  }

  .timeline-wrap {
    box-shadow: 0 -5px 30px 10px $page7-color;
  }

  .boy-ballon {
    &:before {
      box-shadow: -13px -6px 0px 1px $page7-sub-color;
    }
  }

  @media (min-width: 1000px) {
    .timeline-wrap {
      box-shadow: 0 -5px 50px 20px $page7-color;
    }
    .timeline-link {
      background-color: $page7-sub-color;
      border-color: $page7-color;
    }
    .timeline-item_active {
      color: $page7-sub-color;
    }
    .boy-ballon_1 {
      &:before {
        box-shadow: -22px 6px 0 0 $page7-sub-color;
      }
    }
    .boy-ballon_2 {
      &:before {
        box-shadow: 22px 6px 0 0 $page7-sub-color;
      }
    }
  }
}


@media (min-width: 1000px) {
  .timeline-wrap {
    background-color: transparent !important;
  }
}