$table-width: 250px;
$table-height: 8px;

$table-width1000: 400px;
$table-height1000: 14px;

$person-width: 93px;
$person-height: 101px;

$person-width1000: 276px;
$person-height1000: 290px;

$tel-width: 40px;
$tel-height: 29px;

$ringer-width: 27px;
$ringer-height: 17px;

$back-wrap-height: 84px;
$back-wrap-width: 155px;

$back-width: 155px;
$back-height: 155px;


.boy-area {
  position: relative;
  max-height: 100%;
  padding: 15px 0 0;
  text-align: center;
}

.boy {
  position: relative;
  width: $table-width;
  height: $table-height;
  padding: 115px 0 0;
  margin: 0 auto;

  @media (min-width: 1000px) {
    width: $table-width1000;
    height: 11px;
    padding: 140px 0 0;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 390px;
    padding: 130px 0 0;
  }
}

.boy-table {
  position: relative;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
}

.boy-back-wrap {
  overflow: hidden;
  height: $back-wrap-height;
  width: $back-wrap-width;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 2px -77px;
  z-index: 0;

  @media (min-width: 1000px) {
    height: 120px;
    width: 250px;
    margin: 0 0 2px -125px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    height: 110px;
    width: 224px;
    margin: 0 0 2px -112px;
  }
}

.boy-back {
  display: block;
  width: $back-width;
  height: $back-height;
  background-color: rgba(0,0,0,.1);
  border-radius: 50%;

  @media (min-width: 1000px) {
    height: 250px;
    width: 250px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    height: 224px;
    width: 224px;
  }
}

.boy-person {
  position: absolute;
  width: $person-width;
  height: $person-height;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);

  .boy-hand-icon {
    display: none;
    position: absolute;
    top: 0;
  }

  .boy-hand-icon_l {
    left: -20px;
    top: 5px;

    @media (min-width: 1000px) {
      left: -28px;
      top: 60px;
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      left: -25px;
      top: 57px;
    }
  }

  .boy-hand-icon_r {
    right: -20px;
    top: 5px;

    @media (min-width: 1000px) {
      right: -28px;
      top: 60px;
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      right: -25px;
      top: 57px;
    }
  }

  @media (min-width: 1000px) {
    width: 145px;
    height: 156px;
    bottom: -5px;
  }

  @media (min-width: 1000px) and (max-height: 700px){
    width: 128px;
    height: 138px;
    bottom: -3px;
  }
}

.boy-telephone {
  position: absolute;
  width: $tel-width;
  height: $tel-height;
  left: 5px;
  bottom: 0;
  margin: 0 0 $table-height;

  @media (min-width: 1000px) {
    width: 54px;
    height: 42px;
    margin: 0 0 11px;
  }
}

.boy-ringer {
  position: absolute;
  width: $ringer-width;
  height: $ringer-height;
  right: 20px;
  bottom: 0;
  margin: 0 0 $table-height;

  @media (min-width: 1000px) {
    width: 34px;
    height: 23px;
    margin: 0 0 11px;
  }
}

.boy-icon {
  position: relative;
}

$baloon-height: 45px;

.boy-ballon {
  position: relative;
  width: 86%;
  height: $baloon-height;
  line-height: $baloon-height;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  border-radius: 60px;
  .text {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 15px;
    line-height: 17px;
  }
  &:before {
    content: '';
    position: absolute;
    width: 40px;
    bottom: -16px;
    left: 70px;
    height: 35px;
    border-radius: 20px;
    z-index: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  @media (min-width: 1000px) {
    height: auto;
    font-size: 18px;
    line-height: 80px;

    .text {
      padding: 10px 20px;
      line-height: 22px;
    }
  }
}

.boy-ballon_1 {
  @media (min-width: 1000px) {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
    max-width: 330px;

    &:before {
      position: absolute;
      width: 51px;
      bottom: 5px;
      left: auto;
      right: -42px;
      height: 46px;
      border-radius: 50%;
      box-shadow: -22px 6px 0 0 #59AFE9;
      z-index: 0;
    }
  }
}

.boy-ballon_2 {
  display: none;

  @media (min-width: 1000px) {
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
    max-width: 290px;

    &:before {
      position: absolute;
      width: 51px;
      bottom: 5px;
      right: auto;
      left: -42px;
      height: 46px;
      border-radius: 50%;
      box-shadow: 22px 6px 0 0 #59AFE9;
      z-index: 0;
    }
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    right: 15px;
    top: 25px;
  }
}


@media (min-width: 1000px) {
  .body_0 {
    .boy-ballon_1 {
      display: none;
    }
  }

  .body_1 {
    .boy-ballon_2 {
      display: none;
    }
  }

  .body_6 {
    .boy-ballon_1 {
      display: none;
    }
  }

  .body_7 {
    .boy-ballon_2 {
      display: none;
    }
  }
}

.page-wrap_hotels-expand,
.page-wrap_noHotels {
  .boy-ballon {
    display: none;
  }
}

.page-wrap_hotels {
  .boy-area {
    display: none;

    //@media (min-width: 1000px) {
    //  display: block;
    //}
  }
}


.page-wrap_hotels-compact {
  .boy-area {
    max-height: 117px;
    overflow: visible;
    @include transition(max-height, .1s, ease);

    //@media (min-width: 1000px) {
    //  max-height: 100%;
    //  overflow: hidden;
    //}

    @media (min-width: 1000px) {
      max-height: 52px;
    }
  }
}

.page-wrap_boy-hidden {
  .boy-hand-icon {
    display: block;

    //@media (min-width: 1000px) {
    //  display: none;
    //}
  }
}

.page-wrap_hotels-expand {
  .boy-area {
    max-height: 0;
    overflow: hidden;

    @include transition(max-height, .15s, ease);
  }
}