$bg-color-hotel1: #FB6674;
$bg-color-hotel2: #3FB7C4;
$bg-color-hotel3: #5D4B78;

$bg-color-hotelCommon: #fff;

$amenity-color: #15A57A;

$palm-color: #E5A747;

.span {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hotels {
  position: relative;
  padding: 0 0 10px;

  @media (min-width: 1000px) {
    padding: 20px 0 10px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    padding: 17px 0 10px;
  }
}

.hotel {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  //margin: 10px auto 0;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  .hotel-descr {
    display: none;
  }

  //@media (min-width: 1000px) {
  //  max-width: 600px;
  //  position: relative;
  //  overflow: visible;
  //  left: auto;
  //  top: auto;
  //}
}

.hotel-info {
  padding: 8px 10px;

  @media (min-width: 1000px) {
    position: relative;
    padding: 15px 30px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    padding: 12px 30px 10px;
  }
}

.hotel-price {
  @extend .span;
  span {
    font-family: $bold-font-family;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    font-size: 20px;
    line-height: 1em;
  }
}

.hotel-stars {
  @extend .span;
  margin: 6px 0 8px;
  line-height: 11px;

  .icon {
    color: #fff;
    fill: #fff;
  }

  @media (min-width: 1000px) {
    line-height: 19px;
    margin: 10px 0 15px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    line-height: 16px;
    margin: 7px 0 10px;
  }
}

.hotel-name {
  @extend .span;

  @media (min-width: 1000px) {
    font-size: 32px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    font-size: 28px;
  }
}

.hotel-rating {
  display: none;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 90px;
  height: 87px;
  background-color: #FEC648;
  color: #fff;
  border-radius: 50%;

  span {
    display: block;
  }

  .amount {
    margin: 32px 0 3px;
    font-family: $bold-font-family;
    font-size: 36px;
    line-height: 18px;
  }

  .text {
    font-size: 12px;
    line-height: 1em;
  }

  @media (min-width: 1000px) {
    //display: block;
  }
}

.hotel-photo {
  height: 180px;

  @media (min-width: 1000px) {
   height: auto;
  }
}

.hotel-photo-list {
  white-space: nowrap;
  font-size: 0;

  .owl-controls {
    display: none;
  }
}

.hotel-photo-list-item {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  height: 180px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 1000px) {
    width: 600px;
    height: 260px;
  }
}

.hotel-photo-list-item_hidden {
  display: none;
}

.owl-item {
  .hotel-photo-list-item_hidden {
    display: block;
  }
}

.hotel-photo-list-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 60px;
  cursor: pointer;
  z-index: 2;

  .icon {
    position: absolute;
    top: 50%;
  }

  @media (min-width: 1000px) {
    width: 120px;
  }
}

.hotel-photo-list-nav_prev {
  left: 0;

  .icon {
    left: 0;
    margin: -14px 0 0 10px;

    @media (min-width: 1000px) {
      margin: -14px 0 0 20px;
    }
  }
}

.hotel-photo-list-nav_next {
  right: 0;

  .icon {
    right: 0;
    margin: -14px 10px 0 0;

    @media (min-width: 1000px) {
      margin: -14px 20px 0 0;
    }
  }
}

@for $i from 1 through 10 {
  .hotel-photo-list-item_n#{$i} {
    background-position: -300px * $i 0;
  }
  @media (min-width: 1000px) {
    .hotel-photo-list-item_n#{$i} {
      background-position: -600px * $i 0;
    }
  }
}

.hotel-photo-link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hotel-photo-img {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.hotel_0 {
  max-width: 300px;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  z-index: 3;
  .hotel-info {
    background-color: $bg-color-hotel1;
  }

  @media (min-width: 1000px) {
    max-width: 600px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
  }
}

.hotel_1 {
  max-width: 280px;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  z-index: 2;
  .hotel-info {
    background-color: $bg-color-hotel2;
  }

  @media (min-width: 1000px) {
    max-width: 560px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
  }
}

.hotel_2 {
  max-width: 260px;
  transform: translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  z-index: 1;
  .hotel-info {
    background-color: $bg-color-hotel3;
  }

  @media (min-width: 1000px) {
    max-width: 520px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
  }
}

.hotel:first-child {
  position: relative;
  left: auto;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  margin: 0 auto;
}

.hotel:nth-child(2) {
  margin-top: 28px;

  @media (min-width: 1000px) {
    margin-top: 72px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    margin-top: 56px;
  }
}

.hotel:nth-child(3) {
  margin-top: 56px;

  @media (min-width: 1000px) {
    margin-top: 124px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    margin-top: 94px;
  }
}

.hotel-descr {
  padding: 10px 0;
  background-color: #fff;
  color: #333;
  .btn {
    margin: 15px 0 0;
  }

  @media (min-width: 1000px) {
    padding: 20px 0;
  }
}

.hotel-descr-block {
  position: relative;
  margin: 13px 0 0;
  padding: 0 10px;
  &:first-child {
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    padding: 0 20px;
  }
}

.hotel-descr-block_limitWidth {
  @media (min-width: 1000px) {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hotel-descr-block_noPadding {
  padding: 0;
}

.hotel-descr-title {
  display: block;
  line-height: 1em;
  margin: 0 0 10px;

  @media (min-width: 1000px) {
    margin: 0 0 15px;
  }
}

.hotel-descr-tyReview {
  display: inline-block;
  font-family: $light-italic-font-family;
  font-size: .857em;
  line-height: 12px;
  color: #000;
}

.hotel-descr-hours {

  @media (min-width: 1000px) {
    font-family: $bold-font-family;
    font-size: 18px;
  }
}

.amenities-list {
  margin: 0 0 0 -20px;
  padding: 0;
  font-size: 0;

  @media (min-width: 1000px) {
    margin: 0 0 0 -30px;
  }
}

.amenities-list-item {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 20px;
  line-height: 20px;
  margin: 0 0 13px 20px;
  .icon {
    vertical-align: middle;
    color: $amenity-color;
    fill: $amenity-color;
  }

  @media (min-width: 1000px) {
    margin: 0 0 28px 30px;
  }
}

.amenities-list_compact {
  margin: 0;

  .amenities-list-item {
    margin: 0 0 5px 12px;
    &:first-child {
      margin: 0 0 5px 0;
    }
  }

  @media (min-width: 1000px) {
    margin: 0;

    .amenities-list-item {
      margin: 0 0 0 25px;
      &:first-child {
        margin: 0;
      }
    }
  }
}

.hotel-descr-about {
  margin: 5px 0 0;
  font-size: 0.929em;
  line-height: 1.538em;

  @media (min-width: 1000px) {
    max-width: 500px;
    margin: 10px auto 0;
    font-size: 18px;
    line-height: 1.5em;
    color: #434343;
  }
}

.hotel-map {
  display: block;
  max-height: 75px;
  overflow: hidden;
  img {
    display: block;
    max-width: 100%;
  }

  @media (min-width: 1000px) {
    max-height: 115px;
    margin: 0 0 25px;
  }
}

.hotel-map-location {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  -webkit-transform: translate(-50%,50%);
  width: 26px;
  height: 26px;
  background-color: #fff;
  border-radius: 50%;
  .icon {
    width: 12px;
    height: 15px;
    padding: 5px 0 0;
    color: #15A57A;
    fill: #15A57A;
  }

  @media (min-width: 1000px) {
    width: 38px;
    height: 38px;
    //bottom: auto;
    //top: 0;
    //transform: translate3d(-50%,-50%,0);
    //-webkit-transform: translate3d(-50%,-50%,0);

    .icon {
      width: 18px;
      height: 23px;
      padding: 8px 0 0;
    }
  }
}

.hotel-distance {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0 0;
  font-family: $light-font-family;
  font-size: .857em;
  color: #15A57A;

  //@media (min-width: 1000px) {
    //font-family: $regular-font-family;
    //font-size: 22px;
    ////color: #34A491;
    //color: #fff;
  //}
}

.boy-palm {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -3px;
  width: 7px;
  height: 11px;
  border-radius: 5px;
  background-color: $palm-color;
  z-index: 4;
  transform: translate(0,-3px);
  -webkit-transform: translate(0,-3px);
  @include transition2props(transform, .1s, ease, opacity, .1s, ease);

  @media (min-width: 1000px) {
    top: 17px;
    width: 12px;
    height: 13px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    top: 17px;
    width: 9px;
    height: 10px;
  }
}

.page-wrap_boy-hidden {

  .boy-palm {
    visibility: visible;
    opacity: 1;
  }

  .boy-palm_l {
    left: 84px;

    @media (min-width: 1000px) {
      left: 299px;
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      left: 311px;
    }
  }

  .boy-palm_r {
    right: 84px;

    @media (min-width: 1000px) {
      right: 300px;
    }

    @media (min-width: 1000px) and (max-height: 700px) {
      right: 312px;
    }
  }
}

.page-wrap_hotels-expand {
  .hotel {
    position: relative;
    left: auto;
    max-width: none;
    margin: 10px auto 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    z-index: 1;
    &:first-child {
      margin: 0 auto;
    }
  }
  .hotel-descr {
    display: block;
  }
  .boy-palm {
    visibility: hidden;
    opacity: 0;
  }
  .btn_reload {
    display: inline-block;
  }

  @media (min-width: 1000px) {
    .hotel {
      max-width: 600px;
    }
  }
}

.page-wrap_hotels-compact {
  .hotel {
    cursor: pointer;
  }
}

.noHotels {
  display: none;
  margin: 20px 0 40px;
  line-height: 1.35em;

  @media (min-width: 1000px) {
    margin: 30px 0 50px;
  }
}

.page-wrap_noHotels {
  .noHotels {
    display: block;
  }
}