.list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.list-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  padding: 0;
  border-radius: 50%;
  &:first-child {
    margin: 0;
  }
}

.list-link {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.list-icon {
  display: block;
}

.list-title {
  display: block;
  margin: 10px 0 0;
  font-size: $default-font-size;
  line-height: 1em;
}

// varies spots in background of amenities etc.
.list-spot {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  z-index: 0;
}

.list-spot_1 {
  width: 64px;
  height: 58px;
  transform: translate(-50%,-50%) rotate(-12deg);
  -webkit-transform: translate(-50%,-50%) rotate(-12deg);

  @media (min-width: 1000px) {
    width: 100px;
    height: 94px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 85px;
    height: 80px;
  }
}

.list-spot_2 {
  width: 66px;
  height: 57px;
  transform: translate(-50%,-50%) rotate(2deg);
  -webkit-transform: translate(-50%,-50%) rotate(2deg);

  @media (min-width: 1000px) {
    width: 102px;
    height: 88px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 87px;
    height: 75px;
  }
}

.list-spot_3 {
  width: 65px;
  height: 58px;
  transform: translate(-50%,-50%) rotate(-9deg);
  -webkit-transform: translate(-50%,-50%) rotate(-9deg);

  @media (min-width: 1000px) {
    width: 102px;
    height: 87px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 87px;
    height: 73px;
  }
}

.list-spot_4 {
  width: 57px;
  height: 62px;
  transform: translate(-50%,-50%) rotate(-3deg);
  -webkit-transform: translate(-50%,-50%) rotate(-3deg);

  @media (min-width: 1000px) {
    width: 85px;
    height: 92px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 70px;
    height: 76px;
  }
}

.list-spot_5 {
  width: 66px;
  height: 61px;
  transform: translate(-50%,-50%) rotate(-14deg);
  -webkit-transform: translate(-50%,-50%) rotate(-14deg);

  @media (min-width: 1000px) {
    width: 100px;
    height: 92px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 85px;
    height: 78px;
  }
}

.list-spot_6 {
  width: 66px;
  height: 61px;
  transform: translate(-50%,-50%) rotate(12deg);
  -webkit-transform: translate(-50%,-50%) rotate(12deg);

  @media (min-width: 1000px) {
    width: 101px;
    height: 92px;
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    width: 72px;
    height: 62px;
  }
}

.list-check {
  opacity: 0;
  position: absolute;
  top: 0;
  right: -5px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #EF6373;
  z-index: 1;
  transform: translate(0,0);
  -webkit-transform: translate(0,0);
  @include transition2props(opacity, .1s, ease, border, .1s, ease);
  .icon {
    width: 12px;
    height: 9px;
    vertical-align: middle;
  }
}

.list-link.active {
  .list-check {
    opacity: 1;
  }
}

.list_types {
  padding: 30px 0 0;
  .list-item {
    margin: 0 0 0 60px;
    &:first-child {
      margin: 0;
    }
  }

  .list-check {
    width: 27px;
    height: 27px;
    line-height: 27px;
    .icon {
      width: 15px;
      height: 12px;
      vertical-align: middle;
    }
  }

  .list-spot_6 {
    width: 121px;
    height: 97px;

  }
  .list-spot_3 {
    width: 103px;
    height: 100px;
  }
  .list-icon {
    position: absolute;
    left: 50%;
    bottom: 42px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    z-index: 1;
  }
  .list-title {
    position: absolute;
    left: 50%;
    bottom: 15px;
    margin: 0;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    white-space: nowrap;
    z-index: 1;
  }

  @media (min-width: 1000px) {
    padding: 50px 0 30px;
    .list-item {
      width: 120px;
      height: 120px;
      margin: 0 0 0 140px;
      &:first-child {
        margin: 0;
      }
    }

    .list-spot_6 {
      width: 140px;
      height: 123px;
    }

    .list-spot_3 {
      width: 140px;
      height: 136px;
    }

    .list-title {
      font-size: 24px;
      bottom: 0;
    }

    .list-check {
      width: 32px;
      height: 32px;
      line-height: 32px;

      .icon {
        width: 20px;
        height: 18px;
      }
    }
  }
}

.list_amenities {
  padding: 30px 0 0;
  margin: 0 0 -15px -40px;
  .list-item {
    width: 64px;
    height: 64px;
    margin: 0 0 15px 40px;
  }
  .list-icon {
    //width: 20px;
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    color: #fff;
    fill: #fff;
  }
  .list-title {
    position: absolute;
    left: 50%;
    bottom: 4px;
    margin: 0;
    transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    white-space: nowrap;
  }

  @media (min-width: 1000px) {
    margin: 0 auto -20px auto;
    padding: 25px 0 0;
    max-width: 420px;
    .list-item {
      width: 100px;
      height: 100px;
      margin: 0 20px 20px;
    }
    .list-title {
      bottom: 8px;
      font-size: 23px;
    }
    .list-icon {
      bottom: 42px;
    }
    .list-check {
      width: 30px;
      height: 30px;
      line-height: 30px;

      .icon {
        width: 18px;
        height: 13px;
      }
    }
  }

  @media (min-width: 1000px) and (max-height: 700px) {
    padding: 10px 0 0;
    .list-item {
      margin: 0 20px;
    }
    .list-title {
      bottom: 10px;
      font-size: 21px;
    }
    .list-check {
      top: 5px;
      right: 5px;
      width: 25px;
      height: 25px;
      line-height: 25px;
    }
  }
}

.list-cities {
  .list-item {
    width: 20%;
    height: auto;
  }
}