$timeline-height: 35px;

$timeline-link-width: 16px;
$timeline-link-height: 16px;

$timeline-link-bg-color: rgba(255,255,255,.2);
$timeline-link-active-bg-color: #fff;
$timeline-link-passed-bg-color: #fff;

.timeline-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 2;
  @include transitionNone();

  @media (min-width: 1000px) {
    @include transition(box-shadow, .1s, ease);
  }
}

.timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.timeline-item {
  display: inline-block;
  vertical-align: top;
  height: $timeline-height;
  margin: 0 2px;
  line-height: $timeline-height;

  .label {
    display: none;
    vertical-align: middle;
  }

  @media (min-width: 1000px) {
    width: 12.5%;
    height: 75px;
    margin: 0;
    @include transition(border, .2s, ease);

    &:first-child {
      .timeline-link {
        border: none;
      }
    }
    .label {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-5px);
      font-size: 18px;
      line-height: 1em;
      @include transition(transform, .1s, ease);
    }
    .text {
      opacity: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      line-height: 1.25em;
      margin: 3px 0 0;
      @include transition(opacity, .15s, ease-out);
    }
  }
}

.timeline-item_last {
  display: none;
  width: 16%;
}

.timeline-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: $timeline-link-width;
  height: $timeline-link-height;
  white-space: nowrap;
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8px;
    height: 8px;
    background-color: $timeline-link-passed-bg-color;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    @include transition(background-color, .2s, ease);
  }
  span {
    color: inherit;
    @include transition(color, .2s, ease);
  }

  @media (min-width: 1000px) {
    width: 100%;
    height: 100%;
    line-height: 86px;
    border-left: 1px solid;
    @include transition2props(background-color, .2s, ease, border, .2s, ease);

    &:before {
      display: none;
    }

    &.passed {
      .label {
        position: absolute;
        transform: translate(-50%,-30px);
        -webkit-transform: translate(-50%,-30px);
        font-size: 13px;
      }
    }
    &.textShow {
      .text {
        opacity: 1;
      }
    }
  }
}

.timeline-item_active {
  margin: 0 6px;

  & ~ .timeline-item {
    .timeline-link {
      &:before {
        background-color: $timeline-link-bg-color;
      }
    }
  }

  .timeline-link {
    &:before {
      width: 16px;
      height: 16px;
      background-color: $timeline-link-active-bg-color;
    }
  }

  @media (min-width: 1000px) {
    margin: 0;

    .timeline-link {
      background-color: #fff;
      color: inherit;
    }
  }
}

.timeline-chevron {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  font-size: 0;
  background-color: rgba(255,255,255,0.2);
  border-left: 1px solid rgba(0,0,0,.2);
  &:first-child {
    border: none;
  }
}

.timeline-chevron-icon {
  vertical-align: middle;
}